<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
	    <security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="524288000" />
			</requestFiltering>
		</security>
	  <modules>
        <remove name="WebDAVModule" />
	  </modules>
      <handlers>
	    <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Amlakbashi.Host.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="SpecifiedPickupDirectory">
                <specifiedPickupDirectory pickupDirectoryLocation="D:\Emails" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
<!--ProjectGuid: 024c9eb5-25f9-4b33-9b2d-0d2ed58d9d35-->