.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.fa-rotate-45 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.fa-rotate-minus-45 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg); 
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */
.fa-bed:before {
  content: "\f236"; }
.fa-bolt:before {
  content: "\f0e7"; }
.fa-plus:before {
  content: "\f067"; }
.fa-minus:before {
  content: "\f068"; }
.fa-dollar-sign:before {
  content: "\f155"; }
.fa-search-plus:before {
  content: "\f00e"; }
.fa-football-ball:before {
  content: "\f44e"; }
.fa-balance-scale:before {
  content: "\f24e"; }
.fa-address-card:before {
  content: "\f2bb"; }
.fa-map-marker:before {
  content: "\f041"; }
.fa-warehouse:before {
  content: "\f494"; }
.fa-images:before {
  content: "\f302"; }
.fa-exclamation-circle:before {
  content: "\f06a"; }
.fa-camera:before {
  content: "\f030"; }
.fa-check:before {
  content: "\f00c"; }
.fa-circle:before {
  content: "\f111"; }
.fa-trash-alt:before {
  content: "\f2ed"; }
.fa-file-alt:before {
  content: "\f15c"; }
.fa-money-check:before {
  content: "\f53c"; }
.fa-percent:before {
  content: "\f295"; }
.fa-calendar-alt:before {
  content: "\f073"; }
.fa-calendar-check:before {
  content: "\f274"; }
.fa-user:before {
  content: "\f007"; }
.fa-users:before {
  content: "\f0c0"; }
.fa-arrow-circle-left:before {
  content: "\f0a8"; }
.fa-arrow-circle-right:before {
  content: "\f0a9"; }
.fa-chevron-down:before {
  content: "\f078"; }
.fa-chevron-left:before {
  content: "\f053"; }
.fa-chevron-right:before {
  content: "\f054"; }
.fa-chevron-up:before {
  content: "\f077"; }
.fa-exclamation-triangle:before {
  content: "\f071"; }
.fa-arrow-down:before {
  content: "\f063"; }
.fa-arrow-left:before {
  content: "\f060"; }
.fa-arrow-right:before {
  content: "\f061"; }
.fa-arrow-up:before {
  content: "\f062"; }
.fa-bullseye:before {
  content: "\f140"; }
.fa-bullhorn:before {
  content: "\f0a1"; }
.fa-eye:before {
  content: "\f06e"; }
.fa-align-center:before {
  content: "\f037"; }
.fa-chart-line:before {
  content: "\f201"; }
.fa-chart-bar:before {
  content: "\f080"; }
.fa-building:before {
  content: "\f1ad"; }
.fa-chart-area:before {
  content: "\f1fe"; }
.fa-columns:before {
  content: "\f0db"; }
.fa-comment:before {
  content: "\f075"; }
.fa-comment-alt:before {
  content: "\f27a"; }
.fa-comment-dollar:before {
  content: "\f651"; }
.fa-temperature-high:before {
  content: "\f769"; }
.fa-temperature-low:before {
  content: "\f76b"; }
.fa-ticket-alt:before {
  content: "\f3ff"; }
.fa-toilet:before {
  content: "\f7d8"; }
.fa-swimming-pool:before {
  content: "\f5c5"; }
.fa-bath:before {
  content: "\f2cd"; }
.fa-wifi:before {
  content: "\f1eb"; }
.fa-gift:before {
  content: "\f06b"; }
.fa-golf-ball:before {
  content: "\f450"; }
.fa-tv:before {
  content: "\f26c"; }
.fa-utensils:before {
  content: "\f2e7"; }
.fa-phone:before {
  content: "\f095"; }
.fa-user-circle:before {
  content: "\f2bd"; }
.fa-pencil-alt:before {
  content: "\f303"; }
.fa-angle-double-down:before {
  content: "\f103"; }
.fa-angle-double-left:before {
  content: "\f100"; }
.fa-angle-double-right:before {
  content: "\f101"; }
.fa-angle-double-up:before {
  content: "\f102"; }
.fa-angle-down:before {
  content: "\f107"; }
.fa-angle-left:before {
  content: "\f104"; }
.fa-angle-right:before {
  content: "\f105"; }
.fa-angle-up:before {
  content: "\f106"; }
.fa-sort-down:before {
  content: "\f0dd"; }
.fa-sort-up:before {
  content: "\f0de"; }
.fa-comments:before {
  content: "\f086"; }
.fa-comments-dollar:before {
  content: "\f653"; }
.fa-mouse-pointer:before {
  content: "\f245"; }
.fa-sort-amount-down:before {
  content: "\f160"; }
.fa-sort-amount-up:before {
  content: "\f161"; }
.fa-user-plus:before {
  content: "\f234"; }
.fa-user-times:before {
  content: "\f235"; }
.fa-users:before {
  content: "\f0c0"; }
.fa-times:before {
  content: "\f00d"; }
.fa-share-alt:before {
  content: "\f1e0"; }
.fa-envelope:before {
  content: "\f0e0"; }
.fa-heart:before {
  content: "\f004"; }
.fa-hotel:before {
  content: "\f594"; }
.fa-map-marker:before {
  content: "\f041"; }
.fa-map-marker-alt:before {
  content: "\f3c5"; }
.fa-affiliatetheme:before {
  content: "\f36b"; }
.fa-id-card:before {
  content: "\f2c2"; }
.fa-id-card-alt:before {
  content: "\f47f"; }
.fa-football-ball:before {
  content: "\f44e"; }
.fa-info-circle:before {
  content: "\f05a"; }
.fa-home:before {
  content: "\f015"; }
.fa-search:before {
  content: "\f002"; }
.fa-star:before {
  content: "\f005"; }
.fa-exchange-alt:before {
  content: "\f362"; }
.fa-cart-plus:before {
  content: "\f217"; }
.fa-arrows-alt:before {
  content: "\f0b2"; }
.fa-arrows-alt-h:before {
  content: "\f337"; }
.fa-arrows-alt-v:before {
  content: "\f338"; }
.fa-crop:before {
  content: "\f125"; }
.fa-search-minus:before {
  content: "\f010"; }
.fa-search-plus:before {
  content: "\f00e"; }
.fa-arrow-down:before {
  content: "\f063"; }
.fa-arrow-left:before {
  content: "\f060"; }
.fa-arrow-right:before {
  content: "\f061"; }
.fa-arrow-up:before {
  content: "\f062"; }
.fa-undo:before {
  content: "\f0e2"; }
.fa-redo:before {
  content: "\f01e"; }
.fa-arrows-alt-h:before {
  content: "\f337"; }
.fa-arrows-alt-v:before {
  content: "\f338"; }
.fa-link:before {
  content: "\f0c1"; }
.fa-lock:before {
  content: "\f023"; }
.fa-unlock:before {
  content: "\f09c"; }
.fa-upload:before {
  content: "\f093"; }
.fa-power-off:before {
  content: "\f011"; }
.fa-download:before {
  content: "\f019"; }
.fa-trash:before {
  content: "\f1f8"; }
.fa-trash-alt:before {
  content: "\f2ed"; }
.fa-ban:before {
  content: "\f05e"; }
.fa-credit-card:before {
  content: "\f09d"; }
.fa-money-bill-alt:before {
  content: "\f3d1"; }
.fa-play:before {
  content: "\f04b"; }
.fa-filter:before {
  content: "\f0b0"; }
.fa-flag-checkered:before {
  content: "\f11e"; }
.fa-book:before {
  content: "\f02d"; }
.fa-copy:before {
  content: "\f0c5"; }
.fa-bars:before {
  content: "\f0c9"; }
.fa-times-circle:before {
  content: "\f057"; }
.fa-tachometer-alt:before {
  content: "\f3fd"; }
.fa-th-list:before {
  content: "\f00b"; }
.fa-shopping-cart:before {
  content: "\f07a"; }
.fa-sign-out-alt:before {
  content: "\f2f5"; }
.fa-sign-in-alt:before {
  content: "\f2f6"; }
.fa-reply:before {
  content: "\f3e5"; }
.fa-caret-down:before {
  content: "\f0d7"; }
  .fa-chevron-circle-left:before {
  content: "\f137"; }

.fa-chevron-circle-right:before {
  content: "\f138"; }

.fa-whatsapp:before {
  content: "\f232"; }
.fa-telegram:before {
  content: "\f2c6"; }

.fa-instagram:before {
  content: "\f16d"; }
.fa-twitter:before {
  content: "\f099"; }

.fa-caret-left:before {
  content: "\f0d9"; }
.fa-mobile:before {
  content: "\f10b"; }

.fa-caret-right:before {
  content: "\f0da"; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-brands-400.eot");
  src: url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("/file/getwoff2file?file_name=/resource/fontawesome-free-5.6.3-web/webfonts/fa-brands-400.woff2") format("woff2"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-brands-400.woff") format("woff"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-brands-400.ttf") format("truetype"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-brands-400.svg#fontawesome") format("svg");
  font-display: swap;
}

.fab {
  font-family: 'Font Awesome 5 Brands'; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-regular-400.eot");
  src: url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-regular-400.woff2") format("woff2"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-regular-400.woff") format("woff"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-regular-400.ttf") format("truetype"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-regular-400.svg#fontawesome") format("svg");
  font-display: swap;
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-solid-900.eot");
  src: url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/file/getwoff2file?file_name=/resource/fontawesome-free-5.6.3-web/webfonts/fa-solid-900.woff2") format("woff2"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-solid-900.woff") format("woff"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-solid-900.ttf") format("truetype"), url("/resource/fontawesome-free-5.6.3-web/webfonts/fa-solid-900.svg#fontawesome") format("svg");
  font-display: swap;
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
