<log4net>
  <appender name="LogAppender" type="Amlakbashi.Host.Appenders.LogAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%m" />
    </layout>
  </appender>

  <appender name="HangfireAppender" type="Amlakbashi.Host.Appenders.HangfireAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%m" />
    </layout>
  </appender>
  
  <root>
    <appender-ref ref="LogAppender" />
    <appender-ref ref="HangfireAppender" />
  </root>
</log4net>