.home-page__search-container {
    position: absolute;
    z-index: 1;
    width: 345px;
    width: max-content;
    /*margin: 3%;*/
    margin: 0 3%;
    padding: 1%;
    right: 0;
    left: 0;
    /*background-color:#fcfcfc;*/
    /*background-image:linear-gradient(to right,#f4f1eb,#fff);*/
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.5), 0 6px 20px 0 rgba(0,0,0,.3);
    background-color: white;
}

.home-page__search-empty-space {
    width: 100%;
    height: 70px;
}

.home-page__search-title {
    /*color: #242424;*/
    font: 17px Biransans;
    padding: 5px 10px;
    width: unset;
    max-width: 285px;
}

.home-page__search-box {
    display: flex;
    align-items: center;
    background-color: white;
    width: unset;
    margin-top: 20px;
    margin: 15px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 5px;
}

.home-page__date-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    margin: 15px 10px;
    width: unset;
    max-width: 300px;
}

.home-page__date-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e2e2e2;
    width: 49%;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.home-page__date-input {
    padding: 5px 10px;
    border: none;
    font: 15px Liransans;
    width: 90%;
    cursor: pointer;
}

.home-page__guest-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e2e2e2;
    width: unset;
    border-radius: 5px;
    background-color: white;
    margin: 15px 10px;
    cursor: pointer;
}

.home-page__guest-input {
    padding: 5px 10px;
    border: none;
    width: unset;
    font: 15px Liransans;
    cursor: pointer;
}

.home-page__guest-select-box {
    border: 1px solid #e2e2e2;
    background-color: white;
    /*width:calc(90% - 30px);*/
    width: 300px;
    margin: -15px 10px 0 10px;
    /*position:absolute;*/
    display: none;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 120px;
}

.home-page__guest-select-close {
    background-color: #fdd835;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    height: fit-content;
}

.home-page__guest-select-item {
    margin: 10px;
}

    .home-page__guest-select-item input {
        width: 80px;
        margin: 0 10px;
    }

    .home-page__guest-select-item i {
        cursor: pointer;
    }

.home-page__input-icon {
    margin-left: 5px;
}

.home-page__search-icon {
    font-size: 20px;
    vertical-align: middle;
    width: 40px;
    display: table-cell;
    cursor: pointer;
}

.home-page__clear-icon {
    font-size: 15px;
    cursor: pointer;
    display: table-cell;
    text-align: left;
}

.home-page__search-input {
    display: table-cell;
    border: none;
    outline: none;
    width: 100%;
    font: 15px Liransans;
    padding: 0 0 0 20px;
}

.home-page__search-box input:focus,
.home-page__guest-input-container input:focus,
.home-page__guest-input-container input:focus {
    outline: none;
}

.home-page__search-box.focused-input,
.home-page__date-input-container.focused-input,
.home-page__guest-input-container.focused-input {
    border: 1.5px solid #fdd835;
}

.home-page__search-box span.holder {
    position: absolute;
    color: #ddd;
    cursor: auto;
    color: #afafaf;
    font: 16px Miransans;
    margin: 11px 5px;
}

.home-page__search-list-box {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 100%;
    /*border-top: solid lightgray thin;*/
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    max-width: 300px;
    width: 300px;
    border: solid thin lightgray;
    background-color: white;
    margin: 0 10px 0 10px;
}

.home-page__search-list-result-container {
    /*position: absolute;*/
    display: table;
    width: 100%;
}

    .home-page__search-list-result-container div {
        cursor: pointer;
    }

        .home-page__search-list-result-container div:hover {
            background-color: #eaeaea;
        }

        .home-page__search-list-result-container div span {
            display: table;
            font: 14px Miransans;
            padding: 15px;
            vertical-align: -webkit-baseline-middle;
            width: 100%;
        }

            .home-page__search-list-result-container div span i {
                margin: 0 0 0 10px;
                font-size: 20px;
            }

.home-page__search-button {
    background-color: #fdd835;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    width: fit-content;
    font: 14px Liransans;
    cursor: pointer;
    float: left;
    background-image: linear-gradient(to right,#fccd14, #fdd835);
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #cccccc;
}

    .home-page__search-button span {
        font: 14px Liransans;
        text-align: center;
    }

    .home-page__search-button i {
        font-size: 15px;
        width: 25px;
    }

.main-date-picker {
    display: none;
    position: absolute;
    z-index: 1000;
    z-index: 3;
}

#main-date-picker-from {
    left: 5%;
}

#main-date-picker-to {
    right: 50%;
}

.home-page__search-list-most-view-parent {
    background-color: white;
    /*padding: 10px 0;*/
}

.home-page__search-list-most-view-label {
    color: #e8b912;
    margin: 10px;
    padding-bottom: 7px;
    width: fit-content;
    border-bottom: 1px solid #e8b912;
    font: 13px Miransans;
}

.home-page__search-list-most-view-container {
    display: flex;
}

.home-page__search-list-most-view-item {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.1);
    font: 13px Miransans;
    margin: 10px;
    cursor: pointer;
    color: #242424;
}

.home-page__search-list-region-btn {
    /*background-color:#fdd835;*/
}

.home-page__search-list-most-view-item:hover {
    background-color: #ffeca0;
}

@media all and (display-mode: standalone) {
    .home-page__search-title {
        display: none;
    }

    .home-page__search-container {
        position: unset;
    }

    .home-page__search-empty-space {
        display: none;
    }
}

@media (max-width: 900px) {
    .home-page__search-empty-space {
        height: 55px;
    }

    .home-page__search-title {
        font-size: 16px;
    }

    .home-page__clear-icon {
        width: 5%;
    }

    .main-date-picker {
        max-width: 70%;
    }

    #main-date-picker-from {
        left: 30%;
    }

    #main-date-picker-to {
        right: 30%;
    }

    .jalali-day, .jalali-week-title-container div {
        min-height: 25px;
    }

    .home-page__search-list-most-view-item {
        padding: 5px;
        font: 12px Liransans;
        margin: 5px;
    }
}

/*@media (max-width: 780px) {
    .home-page__search-container {*/
        /*        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 2%), 0 3px 10px 0 rgba(0,0,0,.3);
        margin: 2%;*/
        /*box-shadow: 0 4px 8px 0 rgb(0 0 0 / 2%), 0 3px 10px 0 rgba(0,0,0,.3);
        margin: 0 2%;
        top: 14%;
    }

    .home-page__search-title {
        font-size: 14px;
    }
}*/

@media (max-width: 780px) {
    .home-page__search-container {
        position: unset;
/*        box-shadow: none;
        background-image: none;
*/      width: 100%;
        /*padding: 3%;*/
        /*margin:2% auto;*/
        margin: 19% auto 0 auto;
        /*background-color: transparent;*/
        box-shadow:none;
        border-radius:5px 5px 0 0;
    }
    .home-page__top-container {
        margin-top: 12%;
    }
    .home-page__date-container {
        max-width: unset;
    }

    .home-page__search-list-box {
        width: 84% !important;
        max-width: unset;
        /* Firefox */
        width: -moz-calc(100% - 30px);
        /* WebKit */
        width: -webkit-calc(100% - 30px);
        /* Opera */
        width: -o-calc(100% - 30px);
        /* Standard */
        width: calc(100% - 30px);
    }

    .home-page__search-list-result-container {
    }

    .home-page__guest-select-box {
        max-width: unset;
        /* Firefox */
        width: -moz-calc(90% - 30px);
        /* WebKit */
        width: -webkit-calc(90% - 30px);
        /* Opera */
        width: -o-calc(90% - 30px);
        /* Standard */
        width: calc(90% - 30px);
    }

    .home-page__search-empty-space {
        height: 20px;
    }

    .home-page__search-title {
/*        color: white;
        text-shadow: 2px 2px 4px black, 0 0 3px black;*/
        font: 14px Miransans;
        /*text-shadow: none;*/
        max-width: unset;
    }

    .home-page__search-input {
        font: 14px Liransans;
    }

    .home-page__date-input {
        font: 14px Liransans;
    }

    .home-page__guest-input {
        font: 14px Liransans;
    }

    .home-page__search-box {
        margin-top: 16px;
    }

    .home-page__search-button {
        width: unset;
        float: unset;
        text-align: center;
    }

    .main-date-picker {
        max-width: 75%;
    }

    #main-date-picker-from {
        left: 25%;
    }

    #main-date-picker-to {
        right: 25%;
    }
}

@media (max-width: 550px) {
    .home-page__search-title {
        font: 13px Miransans;
        margin-bottom: 40px;
    }

    .home-page__search-list-result-container div span {
        font: 13px Miransans;
        padding: 15px;
    }

}

@media (max-width: 500px) {

    .home-page__search-title {
        margin-bottom: 0;
    }

    .home-page__clear-icon {
        width: 10%;
    }
}

@media (max-width: 450px) {
    .home-page__search-container {
        /*width: 90%;*/
    }

    .home-page__search-list-result-container div span {
        font: 13px Miransans;
        padding: 10px;
    }

    .home-page__search-title {
        font: 13px Liransans;
    }
}


@media (max-width: 400px) {

    .home-page__search-container {
        padding-top: 0;
    }

    .home-page__search-box {
        /*margin: 10px 5px;*/
    }

    .home-page__date-container {
        /*margin: 10px 5px;*/
    }

    .home-page__guest-input-container {
        /*margin: 10px 5px;*/
    }

    .home-page__search-button span {
        font: 13px Liransans;
    }

    .home-page__search-list-box {
        width: 82% !important;
        max-width: unset;
        /* Firefox */
        width: -moz-calc(96.5% - 30px);
        /* WebKit */
        width: -webkit-calc(96.5% - 30px);
        /* Opera */
        width: -o-calc(96.5% - 30px);
        /* Standard */
        width: calc(96.5% - 30px);
    }

    .home-page__search-list-result-container {
    }

    .home-page__guest-select-box {
        max-width: unset;
        /* Firefox */
        width: -moz-calc(92% - 30px);
        /* WebKit */
        width: -webkit-calc(92% - 30px);
        /* Opera */
        width: -o-calc(92% - 30px);
        /* Standard */
        width: calc(92% - 30px);
    }

}


@media (max-width: 320px) {
    .home-page__search-container {
        /*width:98%;*/
    }

    .home-page__search-input {
        font: 13px Liransans;
    }

    .home-page__date-input {
        font: 13px Liransans;
    }

    .home-page__guest-input {
        font: 13px Liransans;
    }

    .home-page__search-box {
        /*margin: 10px 2px;*/
    }

    .home-page__date-container {
        /*margin: 10px 2px;*/
    }

    .home-page__guest-input-container {
        /*margin: 10px 2px;*/
    }
}

@media (max-width: 300px) {
    .home-page__search-list-most-view-container {
        flex-wrap: wrap;
    }

    .home-page__search-list-most-view-item {
        padding: 3px;
        font: 12px Liransans;
        margin: 4px;
    }
}

@media (max-width: 275px) {
    .home-page__search-title {
        font: 4vw ULiransans;
    }
}
