/*@import url('home-page.css');*/

.master__page {
    width: 100%;
    overflow: hidden;
}
a, div {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.body {
    margin-top: 0;
}
.home-page__top-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.home-page__most-view-city-h {
    font: 13px Liransans;
    color: #242424;
    text-align: center;
    background: linear-gradient(to right, rgb(204, 204, 204), rgb(238, 242, 243));
}

.home-page__gradient-bg span, .home-page__gradient-bg h2 {
    color: white;
    font: 16px Miransans;
    text-align: center;
    padding: 5px;
    display: table-cell;
    vertical-align: top;
    width: 240px;
}

.home-page__large-image {
    /*width: 100%;*/
    /*padding-bottom: 75%;*/
    object-fit: cover;
    /*background-repeat: no-repeat;
    background-size: cover;*/
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.home-page__slide-show-style {
    width:100% !important;
    position:absolute !important;
}
.master_header-child {
    /*width: 33.33%;*/
    margin: 0 10px !important;
}

.master_header-logo {
    margin: 0  20px 0 auto !important;
}
.home-page__description-container {
    margin: 40px 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-flow: column;
}

.home-page__description-container span {
    font: 13px Miransans;
    color: #242424;
    padding: 2px 10px;
    text-align: center;
}

.home-page__description-container p {
    padding: 10px;
    margin: 0;
    font: 13px Liransans;
    color: #242424;
    line-height: 22px;
}

.homepage__feature-container {
    justify-content: space-around;
    padding: 20px 0;
    margin: 0;
}

.home-page__feature-item {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.home-page__feature-icon-container {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
/*    box-shadow: 0 1px 2px 0 rgba(220,220,220,.5), 0 2px 4px 0 rgba(220,220,220,.3);
    background-image: linear-gradient( #ffffff, #f2f2f2);*/
}

.home-page__feature-label {
    font: 13px Miransans;
    margin: 10px 0;
}

.home-page__slider-button {
    position: absolute;
    border-radius: 45px;
    height: 40px;
    width: 40px;
    margin: 65px 0 0 0;
    z-index: 2;
    background: hsla(0, 0%, 100%, 0.75);
}

.home-page__slider-button, .home-page__slider-button i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page__slider-button i {
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    color: #242424;
    padding: 11px 0;
    background: transparent;
    text-shadow: -1px 0 hsla(0, 0%, 12%, 0.5), 0 1px hsla(0, 0%, 12%, 0.5), 1px 0 hsla(0, 0%, 12%, 0.5), 0 -1px hsla(0, 0%, 12%, 0.5);
}

.home-page__previous-slider {
    right: 20px;
}

.home-page__next-slider {
    left: 20px;
}

.master__menu {
    position: absolute;
}


/*****home page category*****/
.home-page__category-root {
    margin: 0 auto -10px auto;
    position: relative;
    /*padding: 0 25px;*/
    padding-top: 20px;
    background: #f6f6f6;
}

.home-page__category-label-container {
    padding: 40px 15px 25px 15px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.home-page__category-label-container .home-page__category-link {
    font: 0.96rem Miransans;
    margin: 0;
    display:flex;
    align-items:center;
}

a.home-page__category-link.home-page__link i {
    margin-right: 5px;
    vertical-align: inherit;
}

.home-page__category-link {
    font: 14px Liransans;
    margin: 5px 15px;
    color: #242424;
}

.home-page__link {
    color: #242424;
}

.home-page__category-label-container span, .home-page__category-label-container h2 {
    font: 1.12rem Biransans;
    margin-top: 35px;
}

.home-page__category-root .home-page__category-label-container h2 {
    margin: 0;
}

.home-page__category > img {
    display: flex;
}

.home-page__category-type-image {
    object-fit: cover;
    order: -2;
}
.home-page__category-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    overflow-x: auto;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-top:20px;
}

.home-page__category-container .home-page__category-item-container-large {
    margin: 10px 4px;
    overflow: hidden;
    border: 1px solid #cacaca;
}
.home-page_details-advertise{
    display:flex;
    flex-flow: row wrap;
    justify-content:end;
}
.home-page_details-advertise p {
    font: 13px Liransans;
    color: #242424;
    margin:0;
}
.box-min-max-night.home-page__advertise-bottom-container {
    margin-top: -14px;
    height:22px;
    margin-bottom: 20px;
}
.box-min-max-night p{
    text-decoration: none;
    color: #242424;
    padding: 1px 5px;
    border-radius: 5px;
    font: 12px Liransans;
    background-color: #e8e8e8;
    margin:0;
}
.box-min-max-night p:first-child{
    margin-left: 10px;
}
.home-page__category-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 260px;
    margin: 10px 5px 10px 10px;
    /*border:solid lightgray thin;*/
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    background: white;
}

.home-page__category-item-container:hover {
    transform:scale(1.1);
}
.home-page__search-container{
    top:132px !important;
}
.home-page_category-dwelling {
    margin: 0;
    text-align: center;
    padding: 0;
    width: 100%;
    flex-flow: row wrap;
    white-space: normal;
    text-align: center;
    justify-content: space-around;
}
.home-page__category-container::-webkit-scrollbar, .home-page__blog-news-container::-webkit-scrollbar, .home-page__news-link-container::-webkit-scrollbar, .home-page__category.home-page_box-visited.carousel::-webkit-scrollbar {
    display: none;
}
.home-page__category-container, .home-page__blog-news-container, .home-page__news-link-container, .home-page__category.home-page_box-visited.carousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.home-page__category-item-container span, .home-page__category-item-container .header-label {
    color: #242424;
    font: 13px Miransans;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 0px;
}

.home-page__category-item-container div {
    width: 100%;
    padding-bottom: 30%;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-page__gradient-bg {
    height: 60px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 12%, 1)), to(hsla(0, 0%, 12%, 0)));
    background-image: -webkit-linear-gradient(hsla(0, 0%, 12%, 1), hsla(0, 0%, 12%, 0));
    background-image: -o-linear-gradient(hsla(0, 0%, 12%, 1), hsla(0, 0%, 12%, 0));
    background-image: linear-gradient(hsla(0, 0%, 12%, 1), hsla(0, 0%, 12%, 0));
    display: table-cell;
    vertical-align: top;
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
}

/*****end home page category*****/

/*****instant reserve banner*****/

.home-page__instant-reserve-banner__img-parent {
    margin: 30px 0 0 0;
}
.home-page_box-visited>p{
    font: 1.2rem Biransans;
    color: #242424;
}
.text-border-bottom_style h3, .text-border-bottom_style h2, .text-border-bottom_style a, .text-border-bottom_style p{
    position: relative;
    margin: 0;
    width: fit-content;
    color: #242424;
}
.text-border-bottom_style:after {
    position: absolute;
    bottom: -9px;
    right: 0;
    left: 0;
    background-color: #dfdfdf;
    height: 1px;
    content: "";
    z-index: 0;
}
.text-border-bottom_style h3:before, .text-border-bottom_style h2:before, .text-border-bottom_style a:before, .text-border-bottom_style p:before{
    content: "";
    position: absolute;
    right: 0;
    left: -40px;
    /* top: -9px; */
    bottom: -9px;
    background-color: #f5c805;
    height: 1px;
    z-index: 1;
}
.text-border-bottom_style {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #a8a8a8;
}
.text-border-bottom_style:hover{
      color: #fbbb03;
}
.text-border-bottom_style:hover h3 , .text-border-bottom_style:hover h2, .text-border-bottom_style:hover p{
    color:#242424;
}
.home-page__instant-reserve-banner__img {
    width: 100%;
    /*border-radius: 10px;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 2px 8px 0 rgba(0,0,0,.1);
}

.home-page__instant-reserve-banner__text-root {
    position: absolute;
    margin-top: 12.5%;
    width: 20.2%;
    height: 10vw;
    right: 23px;
}
.home-page-visited-box.home-page_style-box .text-border-bottom_style {
    margin-bottom: 32px;
}
.home-page__instant-reserve-banner__text-parent-s {
    display: none;
}

.home-page__instant-reserve-banner__text-parent {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #242424;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*background-image: linear-gradient( 100deg, rgba(168,175,197,0.8) 40.2%, rgba(168,175,197,0.1) 100.2% );*/
    /*background-image: linear-gradient(to left bottom, #fdd835, #fddc48, #fedf58, #fee367, #ffe675);*/
    /*background-image: linear-gradient(to left bottom, #fdd007, #fdd215, #fdd31f, #fdd526, #fdd62d, #fdd737, #fcd93f, #fcda47, #fbdc53, #fade5e, #fadf68, #f9e172);*/
    /*background-image: linear-gradient(to left bottom, #ffd518, #ffd724, #ffd82d, #ffda36, #ffdb3d, #ffdd46, #ffde4e, #ffe056, #ffe261, #ffe46c, #ffe676, #ffe880);*/
    background-image: linear-gradient(to left bottom, #fdd51f, #fdd939, #fddc4c, #fee05c, #fee36c, #fee36c, #fee36c, #fee36c, #fee05c, #fddc4c, #fdd939, #fdd51f);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.7), 0 6px 8px 0 rgba(0,0,0,.1);
}

.home-page__instant-reserve-banner__head-text {
    font: 1.9vw Miransans;
}

.home-page__instant-reserve-banner__sub-text {
    font: 1.3vw Liransans
}

/*****end instant reserve banner*****/

.home-page__slide-show {
    top: 0;
    z-index: -1;
    height: 550px;
    overflow: hidden;
}

.slidernew {
    object-fit: cover;
    width: 100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.master__header-menu {
    color: white;
}

.master_header-account {
    color: white;
}

.master__header {
    background-color: transparent !important;
    position: absolute !important;
    top: unset !important;
    border-bottom: none !important;
    width: 100% !important;
    height: 100px !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0)) !important;
    align-items:center;
}
.home-page__news-link-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.home-page__news-link-item-container {
    box-shadow: 0 1px 2px 0 rgba(220,220,220,.5), 0 2px 4px 0 rgba(220,220,220,.3);
    background-image: linear-gradient(#fff,#f2f2f2);
    border-radius: 30px;
    font: 13px Miransans;
    color: #242424;
    width: 130px;
    height: 130px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


/*.blog-news__item {*/
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 2px 8px 0 rgba(0,0,0,.1);*/
    /*width: min-content;
    border-radius: 5px;
    color: #242424;
    margin: 0 auto;
}*/
a.home-page_box-blog {
    width: 33%;
    color:#242424;
    overflow: hidden;
    text-align: center;
    margin-top:24px;
    border-radius:5px;
}
a.home-page_box-blog img{
    border-radius:5px;
}
.home-page__blog-news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px 15px;
}
.blog-news__item-content {
    height: 70px;
    white-space: nowrap;
    margin: 0 auto;
    width: 315px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 10px 0;
    font: 14px Miransans;
}

.blog-news__item-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    height: 22px;
    white-space: nowrap;
}

.blog-news__item-content i {
    align-self: flex-end;
}

.master__header-search-box {
    display: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*banner-style*/
.home-page__banner-container {
    width: 98%;
    border-radius: 5px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
}
.home-page__banner-container {
    height: 315px;
    position: relative;
}
.home-page__banner-container > .banner-Slides {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-right: 10px;
    background: #8C8;
    margin-right: 0;
    border-radius: 5px;
    counter-increment: gallery-cell;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    background: #cecece;
    display: flex;
    flex-flow: row wrap;
    visibility: hidden;
    opacity: 0;
    transition: 0;
}
.home-page__banner-container > .banner-Slides.slide-item-active {
   visibility : visible;
   opacity: 1;
}
.home-page__banner-container > .banner-Slides .home-page_banner-offer {
    opacity: 0;
    transform: translateY(-150px);
    transition: 0.3s linear 0.1s;
}
.home-page__banner-container > .banner-Slides.slide-item-active .home-page_banner-offer {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
}
.home-page__banner-container > .banner-Slides .js-animate-text {
      visibility: hidden;
      opacity: 0;
       transition: 1s linear 0.1s;
}
.home-page__banner-container > .banner-Slides.slide-item-active .js-animate-text {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
/* Next & previous buttons */
.home-page__boyd-banner {
    position: relative;
    width: 99%;
    margin: 0 auto;
}
.home-page__boyd-banner .prev, .home-page__boyd-banner .next {
cursor: pointer;
position: absolute;
top: 36%;
border-radius: 50%;
background: #5151515c;
display: flex;
color: white;
font-weight: bold;
font-size: 28px;
transition: 0.6s ease;
user-select: none;
width: 45px;
z-index: 999;
height: 45px;
justify-content: center;
align-items: center;
cursor: pointer;
}
.home-page__boyd-banner .prev {
    right: 25px;
}
.home-page__boyd-banner .next {
    left: 25px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.home-page__advertise-no-comment{
    margin:0;
    margin-right:8px;
}

.home-page__banner-container .box .bg {
    width: 85%;
    -webkit-transform: skewX(-7deg);
    transform: skewX(-14deg);
    position: absolute;
    height: 100%;
    right: -10%;
    padding-right: 20rem;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    z-index: 995;
    border-left: 7px solid #fdd835;
    background: #45484d;
    background: -moz-linear-gradient(159deg, #6f6b6b 15%,#242424 86%);
    background: -webkit-linear-gradient(159deg, #6f6b6b 15%,#242424 86%);
    background: linear-gradient(159deg, #6f6b6b 15%,#242424 86%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}
.home-page__banner-container .box .bg:before {
    background: none;
    border: 7px solid #e3e3e3;
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 3px;
    right: 0px;
    bottom: -8px;
    pointer-events: none;
}
.home-page__banner-container .box .details .home-page_banner-offer {
    width: 106px;
    padding: 35px 0;
    line-height: 3 !important;
    position: absolute;
    font-size: 1rem !important;
    top: -3px;
    right: 15%;
    text-align: center;
    margin-top:0;
    border-top-left-radius: 3px;
    background: #de1604;
}

.home-page__banner-container .box .details .home-page_banner-offer p {
    width: 100%;
    text-align: center;
    margin: 0;
}

.home-page__banner-container .box .details .home-page_banner-offer .present {
    font: 1.5rem Biransans;
}

.home-page__banner-container .box .details .home-page_banner-offer p:nth-child(2) {
    font: 1.3rem Biransans;
}

.home-page__banner-container .box .details .home-page_banner-offer p:last-child {
    font: 1rem Liransans;
}

.home-page__banner-container .box .details .home-page_banner-offer:before, .home-page_banner-offer:after {
    content: "";
    position: absolute;
}
.home-page__banner-container .box .details .home-page_banner-offer:before {
    height: 0;
    width: 0;
    right: -5.5px;
    top: 0.1px;
    border-bottom: 6px solid #8D5A20;
    border-right: 6px solid transparent;
}
.home-page__banner-container .box .details a{
    color:white;
    position:relative;
}
.home-page__banner-container .box .details a:hover{
    color:#fdd835;
}
.home-page__banner-container .box .details .home-page_banner-offer:after {
    height: 0;
    width: 0;
    bottom: -29.5px;
    left: 0;
    border-left: 53px solid #de1604;
    border-right: 53px solid #de1604;
    border-bottom: 30px solid transparent;
}

.home-page__banner-container .box .details {
    padding: 30px;
    padding-right: 25%;
    z-index: 100;
    position: relative;
    width: 65%;
    color: white;
    height: 100%;
    z-index: 999;
    background: -moz-linear-gradient(159deg, #6f6b6b 15%,#242424 86%);
    background: -webkit-linear-gradient(159deg, #6f6b6b 15%,#242424 86%);
    background: linear-gradient(159deg, #6f6b6b 15%,#242424 86%);
    display: flex;
    flex-flow: column wrap;
}

.home-page__banner-container .box .details h3 {
    font: 1.25rem Biransans;
    margin-bottom: .5rem;
    margin-top: 15px
}

.home-page__banner-container .box .details p, .home-page__banner-container .box .details h4 {
    font: 0.9rem Liransans;
    margin-bottom: 0;
}
.mobile-change-text-price{
    display:none !important;
}
.home-page__banner-container .box .details p {
    display: inline-block;
    margin-top: 20px;
}

.home-page__banner-container .box .details p i {
    margin-left: 5px;
}

.home-page__banner-container .box .details .banner-button {
    padding: 0.6rem 3rem;
    font: 14px Biransans;
    margin-top: 23px;
    display: block;
    background-color: #fdd835;
    border-radius: 5px;
    outline: none;
    background-image: linear-gradient(to right,#fccd14, #fdd835);
    box-shadow: 0 9px 12px -5px #2e2e2e;
    border: 1px solid #cccccc;
    cursor: pointer;
/*    transition: all .3s ease;*/
    color: #242424;
    height: 60px;
    position: absolute;
    top: 38%;
    display: flex;
    left: 5%;
    justify-content: center;
    align-items: center;
}
.home-page__banner-container .box .details .banner-button {
    color:#242424 !important;
}
.home-page__banner-container .box .details .view-all-Discounts {
    position: absolute;
    top: 69%;
    left: 11%;
    font: 12px Liransans;
}
.home-page__banner-container .box .details .banner-button:hover {
    color: #242424 !important;
    transform: scale(0.97);
}
.home-page__banner-container .box .details .banner-button i {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
    color: #242424;
}


.home-page__banner-container .box .details .banner-button:focus {
    outline: none;
    border: none;
}

.home-page__banner-container .box-img-banner {
    justify-self: center;
    height: 100%;
    width: 35%;
    justify-self: center;
    position: relative;
    margin: 0;
    left: -12px;

}

.home-page__banner-container .box-img-banner:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100% );
}

.home-page__banner-container .box-img-banner:hover:after {
    opacity: 1;
    left: 270%;
    transition-property: left, top, opacity;
    transition-duration: 0.9s, 0.9s, 0.15s;
    transition-timing-function: linear;
}

.home-page__banner-container .box-img-banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.home-page__banner-container .active {
    opacity: 1 !important;
}
.title-banner-overflow {
    color: white;
    display: inline-block;
    text-overflow: ellipsis;
    width: 410px;
    overflow: hidden;
    white-space: nowrap;
}

/*start meduim*/
.home-page-medium-box {
    border-radius: 5px;
    margin: 70px 0 25px 0;
    /*padding: 5px 10px;*/
    /*box-shadow: 0 1px 4px 0 rgb(1k69 168 168 / 50%), 0 2px 4px 0 rgb(159 157 157 / 30%);*/
    overflow: hidden;
    height: 250px;
    position: relative;
}
.home-page-medium-box p:first-child , .home-page-visited-box p:first-child{
    font: 1.12rem Biransans;
}

/*carousel*/
.carousel-container {
    overflow-x: scroll;
    width: 100%;
    height: auto;
    position: relative;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-container .carousel {
    position: relative;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-flow: row nowrap;
}
.home-page_style-box {
    border-radius: 5px;
/*    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: white;*/
    width: 97%;
    margin: 16px auto 0 auto;
    padding: 15px 15px 36px 15px;
}
.home-page-visited-box {
    position: relative;
    margin-top:40px;

}
.carousel-container .carousel .carousel-item {
    position: relative;
    display: block;
    margin-right: 1px;
    text-align: center;
}
.home-page__advertise-city {
    color: #939393;
}

.active-scale {
    transform: scale(1.3);
}

.carousel__slider__item.carousel-item.slide-item img {
    margin: 0 auto;
    border-radius: 5px;
}
.carousel__slider__item.carousel-item.slide-item h2 {
    position: absolute;
    left: 0;
    right: 50% !important;
    transform: translate(50%, 0);
    bottom: 0;
    padding-top: 13px;
    height: 50px;
    background: linear-gradient(hsl(0deg 0% 0%/49%),hsl(0deg 0% 12%/57%));
    color: #fff;
    font: 15px Miransans;
    text-align: center;
    margin: 0;
    display: table-cell;
    vertical-align: top;
    width: 210px;
    border-radius: 0 0 5px 5px;
}
.home-page__category-item-container-large {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)!important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)!important;
    background: white;
}

/*.home-page_amlakbashi-medium.carousel-container .carousel .carousel-item img {
    filter: grayscale(1);
}*/

.home-page_amlakbashi-medium.carousel-container .carousel .carousel-item h4 {
    color: #808080;
    margin: 12px auto;
}

.home-page_amlakbashi-medium.carousel-container .carousel .carousel-item:hover h4 {
    color: #242424;
}

/*.home-page_amlakbashi-medium.carousel-container .carousel .carousel-item:hover img, .carousel-container .carousel .carousel-item:active img {
    filter: grayscale(0);
}*/


.homepage__feature-container {
    justify-content: space-around;
    margin: 18px 0;
}
.home-page__advertise-price{
    margin: 0 ;
}
/*blog*/
.home-page-title-blog {
    font: 1.12rem Biransans;
}
.box-text-style {
    font: 13px Miransans;
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 25px;
    line-height: 2;
    border-radius: 5px;
}
/*discount*/
.home-page_discount-style {
    flex-flow: row !important;
    position:absolute;
}
.advertise-item__discount-label.home-page_discount-style i {
    padding: 6px 0 0 3px;
    font-size: 12px;
}

.btnPrevious, .btnNext {
    height: 50px;
    width: 50px;
    box-shadow: 1.5px 0 4px 0 rgba(0 ,0 ,0 , 0.15);
    background: #fff;
    color: #242424;
    top: 12%;
    position: absolute;
    font-size: 32px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.home-page-medium-box.home-page_style-box .btnNext, .home-page-medium-box.home-page_style-box .btnPrevious {
    top: 20%;
}
.home-page-visited-box .btnPrevious, .home-page-visited-box .btnNext {
    top: 41%;
}
.btnPrevious {
    left: 1%;
}

.btnNext {
    right: 1%;
    color: #d9d9d9;
}
.cart-details-advertise {
    padding: 8px 16px;
}
.box-view-all-post {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font: 13px Miransans;
    color: #616060;
}
.box-view-all-post i.fas.fa-arrow-left {
    border: 1px solid #242424;
    padding: 20px;
    border-radius: 50%;
/*    color: #eda803;*/
    color:#242424;
    margin-bottom:20px;
    font-size:18px;
}

section.home-page__boyd-banner.discount-banner-container {
    margin-top: 32px;
}

.home-page__category-item-container-large {
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}
.home-page__category-item-container-large:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1) !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0 , 0.1) !important;
}
.show-desktop-title {
    display: flex !important;
}

.show-mobile-title {
    display: none !important;
}


/*discount*/
.discount-box-style {
    position: absolute;
    top: -6.1px;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    background: #ed553b;
    font: 13px Miransans;
    align-items: center;
    justify-content: center;
    color: white;
}
.discount-box-style:after{
    position: absolute;
    content: "";
    width: 0;
    top: 30px;  
    height: 0;
    border-left: 82px solid transparent;
    border-right: 82px solid transparent;
    border-top: 10px solid #f8463f;
}


.discount-box-style span{
    position: relative;
    display: block;
    text-align: center;
    background: #f8463f;
    line-height: 1;
    padding: 4px 8px 0px;
    border-top-right-radius: 8px;
    width: 170px;
    line-height: 2;
}
.discount-box-style span:before , .discount-box-style span:after{
    content: "";
    position: absolute;
}
.discount-box-style span:before {
    height: 6px;
    width: 6px;
    left: -6px;
    top: 0;
    background: #F8463F;
}
.discount-box-style span:after{
    height: 6px;
    width: 8px;
    left: -8px;
    top: 0;
    border-radius: 8px 8px 0 0;
    background: #C02031;
}

a.cart-advertise-container.more-view-slider.slide-item{
    display:none;
}

/*blog*/
a.home-page_title-blog {
    width: 100%;
    flex-flow: row wrap;
    display: flex;
    color: #242424;
    font: 1.12rem Biransans;
    margin: 10px 0 28px 0;
    align-items:center;
}
a.home-page_title-blog p {
    margin: 0;
}

@media all and (display-mode: standalone) {
    .home-page__slide-show {
    display: none;
    }

    .home-page__category-label-container {
        margin-top: 40px;
    }
}

@media (max-width: 1300px) {
    .blog-news__item {
        margin: 20px;
    }
}

@media (max-width: 1200px) {
    .home-page__instant-reserve-banner__text-root{
        right : 10px;
    }
    .blog-news__item {
        margin: 10px;
    }
}

@media (max-width: 1140px) {
    .blog-news__item {
        margin: 40px;
    }
}

@media (max-width: 1100px) {
    .home-page__slide-show {
        height: 500px;
    }
    .home-page__top-container {
        height: 400px;
    }
    .home-page__category-container .home-page__category-item-container-large {
        margin: 10px;
/*        -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 5px 0 rgba(0,0,0,.1);
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 5px 0 rgba(0,0,0,.1);*/
    }
    /*banner-style*/
    .home-page__banner-container {
        height: 275px;
    }

    .home-page__banner-container .box .details .home-page_banner-offer {
        width: 80px;
        right: 13%;
    }

    .home-page__banner-container .box .details .home-page_banner-offer:after {
        border-left: 40px solid #de1604;
        border-right: 40px solid #de1604;
    }

    .home-page__banner-container .box .details {
        padding:0 ;
        padding-right: 20%;
        justify-content:space-evenly;
    }

    .home-page__banner-container .box .details .banner-button {
        height: 50px;
        padding: 0.6rem 2rem;
        margin-top:0;
    }

    .home-page__banner-container .box .details .home-page_banner-offer .present {
        font: 1.4rem Biransans;
    }

    .home-page__banner-container .box .details .home-page_banner-offer p:nth-child(2) {
        font: 1.2rem Biransans;
    }

    .home-page__banner-container .box .details .view-all-Discounts {
        position: absolute;
        top: 62%;
        left: 8%;
    }
    .home-page__banner-container .box .details .home-page_banner-offer p:last-child {
        font: 0.9rem Liransans;
    }

    .home-page__banner-container .box .details h3 {
        font: 1.15rem Biransans;
    }

    .home-page__banner-container .box .details p, .home-page__banner-container .box .details h4 {
        font: 0.875rem Liransans;
    }

    .home-page__banner-container .box .details p {
        margin-top: 15px;
    }
    .home-page__banner-container > .banner-Slides.slide-item-active .js-animate-text {
        margin-top: 0 !important;
        line-height: normal !important;
    }
    .home-page__category-item-container{
        width:228px;
    }
}

@media (max-width: 1000px) {
    .blog-news__item {
        margin: 30px;
    }
}

@media screen and ( max-width : 980px){
    .home-page__blog-news-container {
        display: block;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 10px 15px;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: scroll;
    }
    .blog-news__item-content {
        width: 260px;
        text-align: right !important;
        font-size:13px
    }
    a.home-page_box-blog {
        display: inline-block;
        width: auto;
    }
    .home-page__category-item-container {
        width: 215px;
    }
}

@media (max-width: 930px)
{
    /*    .home-page__category-label-container span, .home-page__category-label-container h2 {
        font: 22px Biransans;
    }*/
    .home-page__category-label-container h2 {
        font-size: 0.975rem;
    }

    .home-page__category-label-container .home-page__category-link {
        font-size: 15px;
    }
    /*****end home page category*****/
    .home-page__slide-show {
        height: 480px;
    }
    .home-page__banner-container .box .details .view-all-Discounts {
        position: absolute;
        top: 62%;
        left: -1%;
    }
    .blog-news__item {
        margin: 10px;
    }

    .body {
        margin-top: 10px !important;
    }

    .home-page__banner-container .box .details {
        width: 65%;
    }
    .home-page__banner-container .box-img-banner {
        width: 35%;
    }

    .home-page__banner-container .box .details .home-page_banner-offer {
        width: 64px;
        right: 10%;
    }
    .home-page__banner-container .box .details h4 i{
        margin-left:5px;
    }
    .home-page__banner-container .box .details .home-page_banner-offer:after {
        border-left: 32px solid #de1604;
        border-right: 32px solid #de1604;
    }
    .title-banner-overflow{
        width:360px;
    }
    .home-page__banner-container .box .details .home-page_banner-offer .present {
        font: 1.2rem Biransans;
        margin-top: 30px
    }

    .home-page__banner-container .box .details .home-page_banner-offer p:last-child {
        font: 1.1rem Liransans;
        width: 56%;
        margin-top: 6px;
    }

    .home-page__banner-container .box .details .home-page_banner-offer p:nth-child(2) {
        font: 1rem Biransans;
        line-height: normal !important;
    }

    .home-page__banner-container .box .details .home-page_banner-offer {
        line-height: 2 !important;
        padding: 0;
    }

    .home-page__banner-container .box .details {
        padding-right: 18%;
    }

    .home-page__banner-container .box .details .banner-button {
        padding: 0.3rem 1rem;
        left: 2%;
    }
    .home-page__banner-container .box .details{
        width : 64%;
    }
    .home-page__banner-container .box-img-banner{
        width:39%;
    }
    .home-page__banner-container .box .details{
        width : 60%;
    }
    .home-page__boyd-banner .prev, .home-page__boyd-banner .next {
        top: 33%;
        width: 38px;
        height: 38px;
        font-size: 24px;
    }
    .home-page__boyd-banner .prev{
        right:15px;
    }
    .home-page__boyd-banner .next {
        left:15px;
    }
    .home-page__category-item-container{
        width: 195px;
    }
    .home-page__search-container {
        top: 88px !important;
    }
}

@media (max-width: 840px) {
    .title-banner-overflow {
        width: 320px;
    }
    .home-page__category-item-container{
        width: 180px;
    }
}

@media (max-width: 780px) {
    .home-page__top-container {
        height: fit-content;
    }
    .home-page_box-visited {
        margin-top: 40px;
    }

    .home-page__description-container {
        margin: 50px 30px;
    }
    /*****home page category*****/
    .home-page__category-label-container span {
        font: 20px Biransans;
    }

    .home-page__category-label-container .home-page__category-link {
        font: 13px Miransans;
        margin-top: 2px;
    }
    /*****end home page category*****/

    .home-page__slide-show {
        height: 418px;
    }

    .blog-news__item {
        margin: 20px auto;
        width: 500px;
        display: flex;
    }

    .blog-news__item-content {
        height: 100px;
    }

        .blog-news__item-content p {
            height: 85px;
        }
    /*start banner slider*/
    .title-banner-overflow {
        width: 190px;
    }
    .home-page__banner-container {
        height: 300px;
    }

    .home-page__banner-container .box {
        background: linear-gradient(159deg, #6f6b6b 15%,#242424 86%);
        padding-bottom: 15px;
    }

    .home-page__banner-container .box .bg {
        display: none;
    }

    .home-page__banner-container .box .details {
        display: flex;
        flex-flow: column wrap;
        width: 49%;
        padding: 0;
        height: 84%;
        padding-right: 10%;
        align-items: flex-start;
        background: transparent;
        justify-content: flex-start;
        padding-bottom: 40px;
    }

    .home-page__banner-container .box .details h3, .home-page__banner-container .box .details h4 {
        width: 100%;
        margin: 0;
    }

    .home-page__banner-container .box .details h3 {
        font-size: 1rem;
    }

    .home-page__banner-container .box .details h4 {
        margin-top: 12px;
    }

    .home-page__banner-container .box .details p {
        margin-top: 10px;
        font-size: 0.8rem;
    }

    .home-page__banner-container .box-img-banner {
        height: 86%;
        width: 43%;
        right: 0;
        background: transparent;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0 0px;
    }

    .home-page__banner-container .box-img-banner img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .home-page__banner-container .box .details .home-page_banner-offer {
        width: 82px;
        right: 154%;
        top: -8px;
    }

    .home-page__banner-container .box .details .home-page_banner-offer .present {
        font: 1rem Biransans;
    }

    .home-page__banner-container .box .details .home-page_banner-offer p:nth-child(2) {
        font: 0.94rem Biransans;
    }

    .home-page__banner-container .box .details .home-page_banner-offer p:last-child {
        width: 100%;
        font-size: 0.9rem;
    }

    .home-page__banner-container .box .details .home-page_banner-offer:after {
        border-left: 41px solid #de1604;
        border-right: 41px solid #de1604;
        bottom: -29px;
    }

    .home-page__banner-container .box .details .banner-button {
        height: 40px;
        font-size: 0.8rem;
        top: 76%;
        right: 20%;
        width: 170px;
    }
    .home-page__banner-container .box .details .view-all-Discounts {
        position: absolute;
        top: 97%;
        left: 33%;
    }
    .home-page__banner-container .box .details .banner-button i {
        font-size: 1.8rem;
    }
    .home-page__banner-container > .banner-Slides.slide-item-active .js-animate-text {
        line-height: 2 !important;
        margin-top: 5px !important;
    }
    .home-page__category-item-container {
        width: 154px;
    }
    .home-page-visited-box {
        margin-top: 20px;
    }
    a.cart-advertise-container.more-view-slider.slide-item {
        min-width: 200px !important;
        /* width: 230px !important; */
        background: transparent;
    }
}

@media (max-width: 760px) {
    .slidernew {
        width: 100%;
    }
    .btnPrevious, .btnNext {
        display: none;
    }
}

@media (max-width: 680px) {
    .home-page__category-root {
        padding-top: 1px;
    }
    .master_header-logo {
        margin: 0 10px 0 auto !important;
    }
    .home-page__category-label-container span {
        margin-top: 0;
    }

    .home-page_box-visited > p {
        padding: 0 15px;
    }

    .home-page__slide-show {
        height: 220px;
    }

    .home-page-medium-box p:first-child, .home-page-visited-box p:first-child {
        margin-right: 8px;
    }

    .home-page__category-label-container {
        padding-right: 8px;
    }

    .home-page__top-container {
        padding-bottom: 0;
        margin-top: 105px;
    }

    .home-page__slider-button {
        display: none;
    }

    .home-page__clear-icon {
        width: 8%;
    }

    .homepage__feature-container {
        padding: 3px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
    }

    /*    .home-page__feature-icon-container {
        padding: 3px;
    }*/
    .home-page-title-blog {
        margin-bottom: 0;
    }

    .home-page__feature-label {
        font: 12px Miransans;
        margin: 10px 0;
        padding: 0 5px;
    }
    /*****home page category*****/
    .home-page__category-label-container span {
        font: 18px Biransans;
    }

    .home-page_box-visited {
        height: 220px;
    }

    .home-page__feature-item {
        margin: 10px 0;
    }

    .homepage__feature-container {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .master__header {
        height: 45px !important;
    }
    .home-page_category-dwelling {
        margin: 25px 0;
    }
    /*****end home page category*****/

    /*****instant reserve banner*****/

    .home-page__instant-reserve-banner__text-root {
        display: none;
    }

    .home-page__instant-reserve-banner__text-parent-s {
        position: relative;
        margin-top: -20.9%;
        height: 19.9vw;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding: 10px;
        color: #242424;
        background-image: linear-gradient(10deg,rgba(253,216,53,.9) 40.2%,rgba(253,216,53,.5) 100.2%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .home-page__instant-reserve-banner__head-text-s {
        font: 2.9vw Miransans;
        text-align: center;
    }

    .home-page__instant-reserve-banner__sub-text-s {
        font: 2.6vw Liransans;
        text-align: center;
    }
    /*****end instant reserve banner*****/
    .box-text-style {
        border-radius: 0;
        margin-bottom: 0;
    }

    .home-page__category-item-container {
        margin: 8px 0;
        overflow: hidden;
        height: fit-content;
        width: 256px;
    }

    .home-page__category-item-container span, .home-page__category-item-container .header-label {
        font: 12px Liransans;
        font-weight: bold;
    }
    .home-page_style-box {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: transparent;
        width: 100%;
        margin: 0 auto;
        padding: 0px 8px 0px 0px;
        border-radius: 0;
    }
    .home-page-medium-box.home-page_style-box {
        padding: 0;
    }
    .home-page-medium-box p:first-child, .home-page-visited-box p:first-child, .text-border-bottom_style h3, .text-border-bottom_style h2, .text-border-bottom_style a, .text-border-bottom_style p{
        font: 0.87rem Liransans;
        color: #5f5f5f;
        margin: 10px 0 5px 0;
    }
    .home-page-medium-box.home-page_style-box p {
        margin:25px 10px 15px 0;
    }
    .home-page-medium-box.home-page_style-box {
        height: fit-content;
    }

    .text-border-bottom_style h3:before, .text-border-bottom_style a:before, .text-border-bottom_style h2:before, .text-border-bottom_style:after, .text-border-bottom_style p {
        background-color: transparent;
    }

    .text-border-bottom_style {
        width: 97%;
        border-top: 1px solid #e5e5ea;
        padding-top: 10px;
    }

    .carousel__slider__item.carousel-item.slide-item img {
        height: 200px;
        width: 168px;
    }

    .carousel__slider__item.carousel-item.slide-item h2 {
        width: 168px;
        padding-top: 8px;
        height: 36px;
        font: 12px Miransans;
    }
    .home-page_box-visited {
        margin-top: 18px;
    }
    .home-page__advertise-no-comment, .star-rating__label {
        font-size: 12px;
    }

    .home-page__category-container .home-page__category-item-container-large {
        background: white;
        margin: 10px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0 , 0.09) !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.09) !important;
    }
    .home-page_amlakbashi-medium.carousel-container .carousel__slider__item.carousel-item.slide-item img {
        height: 60px;
        width: 60px;
    }
    .home-page_amlakbashi-medium.carousel-container .carousel .carousel-item h4 {
        color: #808080;
        margin: 0px auto 10px auto;
        font: 13px Liransans;
    }

    img.home-page__advertise-image {
        width: 224px;
        height: 110px;
    }
    .home-page_style-box .home-page__category-item-container-large {
        width: 224px !important;
    }
    .home-page__advertise-price {
        font: 12px Liransans;
        color: #585555;
    }
    .home-page__advertise-city {
        font: 12px Miransans;
    }
    .text-border-bottom_style {
        font: .87rem Liransans;
        flex-flow: column wrap;
        align-items: self-start;
        margin-right:8px;
    }
    .text-border-bottom_style h3:before, .text-border-bottom_style h2:before, .text-border-bottom_style a:before, .text-border-bottom_style p:before, .text-border-bottom_style:after {
        display: none;
    }
    .home-page_amlakbashi-medium.carousel-container .carousel-container .carousel .carousel-item {
        position: relative;
        display: block;
        margin: 0 5px;
        text-align: center;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1) !important;
    }
}
@media (max-width: 665px){
    .home-page__slide-show {
        height: 196px;
    }
 }
@media (max-width: 590px) {
    .home-page__slide-show {
        height: 186px;
    }
    .home-page__category-item-container {
        width: 240px;
    }
}
@media (max-width: 550px) {
    .home-page__slide-show {
        height: 250px;
    }

    .home-page__category-label-container h2 {
        font-size: 0.825rem;
    }

    .home-page__category-label-container .home-page__category-link {
        font-size: 0.795rem;
    }

    a.home-page__category-link.home-page__link i {
        margin-right: 2px;
    }
    /*****home page category*****/
    .home-page__category-label-container span {
        font: 17px Miransans;
    }
    /*****end home page category*****/

    .home-page__top-container {
        padding-bottom: 0;
        margin-top: 87px;
    }

    .blog-news__item {
        margin: 10px auto;
        width: 400px;
        display: flex;
    }

    .blog-news__item-content {
        height: 85px;
    }

    .blog-news__item-content p {
        height: 70px;
    }
}

@media (max-width: 500px) {
    .home-page__banner-container .box {
        padding-bottom: 0;
    }

    .home-page__slide-show {
        height: 200px;
    }

    .title-banner-overflow {
        width: 260px;
    }
    /*****home page category*****/
    .home-page__category-label-container {
        margin: 0;
    }

        .home-page__category-label-container span {
            font: 16px Miransans;
        }
    /*****end home page category*****/
    /*start banner slider*/
    .home-page__banner-container {
        width: 95%;
        margin-bottom: 0;
    }

        .home-page__banner-container .box-img-banner {
            height: 52%;
            width: 100%;
            order: -2;
            padding: 8px;
        }

    .mobile-change-text-price {
        display: block !important;
        width: 100%;
    }

    .home-page__banner-container .box .details {
        width: 100%;
        padding: 0;
        height: 48%;
        padding: 0 10px;
        justify-content: space-evenly;
        padding-bottom: 8px;
        position: static;
    }

        .home-page__banner-container .box .details h3 {
            font-size: 0.86rem;
        }

        .home-page__banner-container .box .details p, .home-page__banner-container .box .details h4 {
            font-size: 0.75rem;
        }

        .home-page__banner-container .box .details h4 {
            margin-top: 0;
        }

    .home-page__boyd-banner .prev, .home-page__boyd-banner .next {
        top: 15%;
    }

    .home-page__banner-container .box .details > p:nth-of-type(2) {
        display: none;
    }

    .home-page__banner-container .box .details p {
        margin: 0;
    }

    .home-page__banner-container .box .details .banner-button {
        height: 35px;
        font-size: 0.8rem;
        top: 78%;
        padding: 0rem 0.8rem;
        left: 10px;
        right: auto;
        width: 125px;
    }

        .home-page__banner-container .box .details .banner-button i {
            font-size: 1.5rem;
        }

    .home-page__banner-container .box .details .home-page_banner-offer {
        top: 1px;
        right: 62%;
        width: 82px;
        line-height: 2 !important;
    }

        .home-page__banner-container .box .details .home-page_banner-offer .present {
            font-size: 0.86rem;
            margin-top: 15px;
        }

    .home-page__banner-container .box .details p i {
        margin-left: 5px;
        font-size: 0.6rem;
    }

    .home-page__banner-container .box .details .home-page_banner-offer p:nth-child(2) {
        font-size: 0.76rem;
    }

    .home-page__banner-container .box .details .home-page_banner-offer p:last-child {
        font-size: 0.7rem;
        margin-top: 0;
    }

    .home-page__banner-container .box .details .view-all-Discounts {
        position: absolute;
        top: 92%;
        left: 3%;
        font: 12px Liransans;
    }

    .desktop-change-text-price {
        display: none !important;
    }

    .home-page__banner-container .box-img-banner:hover:after {
        display: none;
    }

    .home-page__feature-item {
        font: 13px Miransans;
        padding: 0 25px;
    }

    .home-page__category-item-container {
        width: 198px;
    }

    .home-page__category-item-container span, .home-page__category-item-container .header-label {
        font: 13px Liransans;
    }
}

@media (max-width: 450px) {
    /*****home page category*****/
    .home-page__category-label-container {
        flex-flow: column nowrap;
    }

    .home-page__category-label-container .home-page__category-link {
        margin-top: 12px;
        color: #999999;
        font-family: 'Liransans';
    }

    .home-page__category-label-container span {
        font: 14px Miransans;
    }

    .home-page__category-item-container span, .home-page__category-item-container .header-label {
        font: 13px Miransans;
    }

    /*****end home page category*****/

    /*****instant reserve banner*****/

    .home-page__instant-reserve-banner__text-parent-s {
        margin-top: -20.8%;
        height: 21.0vw;
    }

    .home-page__instant-reserve-banner__head-text-s {
        font: 3.9vw Miransans;
    }

    .home-page__instant-reserve-banner__sub-text-s {
        font: 3.6vw Liransans;
    }

    /*****end instant reserve banner*****/

    .blog-news__item {
        margin: 10px;
        width: min-content;
        flex-flow: column;
    }

    .blog-news__item-content {
        height: 70px;
    }

    .blog-news__item-content p {
        height: 45px;
    }
    .home-page__top-container {
        top: 10% !important;
    }
}

@media (max-width: 400px) {
    .home-page__description-container {
        margin: 70px 30px 30px 30px;
    }
    /*****end home page category*****/

    .home-page__slide-show {
        height: 180px;
    }

    .home-page__feature-item {
        font: 13px Miransans;
        padding: 0 6px;
    }
    .home-page__slide-show {
        height: 145px;
    }
    .home-page__category-item-container {
        width: 148px;
    }

    .home-page__category-item-container span, .home-page__category-item-container .header-label {
        font: 12px Liransans;
        font-weight: bold;
    }
}

@media (max-width:350px){
    .installPopup.install-app-banner {
        background: #fcce17 !important;
    }
    .home-page__slide-show {
        height: 132px;
    }

}
@media(max-width: 320px) {
    /*****home page category*****/
    .home-page__category-label-container {
        margin: 0;
    }
    /*****end home page category*****/

    .home-page__slide-show {
        height: 129px;
    }
}
