.admin-filter-container {
  padding: 8px 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.admin-filter-container .bar-filter {
  border-radius: 5px;
  border: 1px solid #dedede;
  padding: 6px 4px;
  margin: 0 0 8px 0;
}

.admin-filter-container .bar-filter span:first-child {
  font: 12px Miransans;
}

.admin-filter-container .bar-filter span:first-child i {
  margin-left: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.admin-filter-container .bar-filter-item {
  font: 13px Liransans;
  padding: 0 8px;
  border-radius: 5px;
  width: 116px;
  color: #242424;
  margin: 0 4px;
  cursor: pointer;
}

.admin-filter-container .bar-filter .more-filter {
  padding: 0 20px;
  margin: 0;
  border: 1px solid gainsboro;
  border-radius: 5px;
  display: flex;
  font: 12px Liransans;
  background: #fdd835;
  height: 30px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
}

.admin-filter-container .bar-filter-item:hover {
  background-color: #fdd835;
}

.admin-filter-container .box-filter {
  width: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-between;
  font: 12px Miransans;
  height: 50px;
}

.admin-filter-container .box-filter .more-filter {
  padding: 0 20px;
  margin: 0;
  border: 1px solid gainsboro;
  border-radius: 5px;
  display: flex;
  font: 12px Liransans;
  background: #fdd835;
  height: 30px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
}

.more-filter-container {
    position: fixed;
    background: white;
    width: 65%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 44444;
    border-radius: 5px;
    display: none;
    flex-flow: row wrap;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 16px 10px;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: scroll;
}

.more-filter-container .options-filter-box {
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.more-filter-container .more-filter-form {
    width: 100%;
}

.more-filter-container .options-filter-box .box-1, .more-filter-container .options-filter-box .box-2, .more-filter-container .options-filter-box .box-3, .more-filter-container .options-filter-box .box-4, .more-filter-container .options-filter-box .box-5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    width: 100%;
    margin-top: 10px;
}

.more-filter-container .options-filter-box .box-1 .item-filter-box, .more-filter-container .options-filter-box .box-2 .item-filter-box, .more-filter-container .options-filter-box .box-3 .item-filter-box, .more-filter-container .options-filter-box .box-4 .item-filter-box, .more-filter-container .options-filter-box .box-5 .item-filter-box {
    font: 13px Liransans;
    width: 25%;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

.more-filter-container .options-filter-box .box-1 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-2 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-3 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-4 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-5 .item-filter-box .title-filter {
    margin: 0 0 12px 0;
}

.more-filter-container .options-filter-box .box-1 .item-filter-box .input-stlye, .more-filter-container .options-filter-box .box-2 .item-filter-box .input-stlye, .more-filter-container .options-filter-box .box-3 .item-filter-box .input-stlye, .more-filter-container .options-filter-box .box-4 .item-filter-box .input-stlye, .more-filter-container .options-filter-box .box-5 .item-filter-box .input-stlye {
    width: 150px;
    height: 28px;
    text-align: center;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
}

.more-filter-container .options-filter-box .box-1 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-2 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-3 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-4 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-5 .item-filter-box select.input-stlye {
    height: 33px !important;
    font: 13px Liransans;
    padding: 0 3px;
    width: 195px;
}

.more-filter-container .options-filter-box .box-3 .input-stlye {
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 5px;
    align-items: center;
    padding: 0 5px;
}

.more-filter-container .options-filter-box .box-5 .container__travel-time-interval {
    width: 100% !important;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row;
    margin-top: 36px;
    padding-right: 30px;
}

.more-filter-container .options-filter-box .box-5 .container__travel-time-interval input {
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
}

.more-filter-container .button-box {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-self: flex-end;
    margin-top: 20px;
}

.more-filter-container .button-box .button-exit, .more-filter-container .button-box .button-filter {
    border: 1px solid #d1d1d1;
    width: 100px;
    display: flex;
    justify-content: center;
    font: 12px Miransans;
    align-items: center;
    height: 32px;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.more-filter-container .button-box p.button-exit {
    margin-right: auto;
    margin-left: 10px;
}

.more-filter-container .button-box .button-filter {
    background: #fdd835;
}

@media (max-width: 1345px) {
    .more-filter-container {
        width: 70%;
    }
}

@media (max-width: 1107px) {
    .more-filter-container {
        width: 85%;
    }
}

@media (max-width: 960px) {
    .more-filter-container {
        width: 100%;
        height: 100%;
    }

    .more-filter-container .options-filter-box .box-1 .item-filter-box, .more-filter-container .options-filter-box .box-2 .item-filter-box, .more-filter-container .options-filter-box .box-3 .item-filter-box, .more-filter-container .options-filter-box .box-4 .item-filter-box, .more-filter-container .options-filter-box .box-5 .item-filter-box {
        width: 45%;
        padding: 3px;
        align-items: center;
        margin-right: 15px;
        flex-flow: row wrap;
        justify-content: center;
        height: 45px;
    }

    .more-filter-container .options-filter-box .box-5 .item-filter-box {
        justify-content: flex-start;
    }

    .more-filter-container .options-filter-box .box-1 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-2 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-3 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-4 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-5 .item-filter-box .title-filter {
        width: 120px;
    }

    .more-filter-container .button-box {
        margin-left: 20px;
    }
}

@media (max-width: 710px) {
    .more-filter-container .options-filter-box .box-1, .more-filter-container .options-filter-box .box-2, .more-filter-container .options-filter-box .box-3, .more-filter-container .options-filter-box .box-4, .more-filter-container .options-filter-box .box-5 {
        justify-content: space-between;
    }

    .more-filter-container .options-filter-box .box-1 .item-filter-box, .more-filter-container .options-filter-box .box-2 .item-filter-box, .more-filter-container .options-filter-box .box-3 .item-filter-box, .more-filter-container .options-filter-box .box-4 .item-filter-box, .more-filter-container .options-filter-box .box-5 .item-filter-box {
        margin-right: 0;
        justify-content: start;
    }

    .more-filter-container .options-filter-box .box-1 .item-filter-box, .more-filter-container .options-filter-box .box-2 .item-filter-box, .more-filter-container .options-filter-box .box-3 .item-filter-box, .more-filter-container .options-filter-box .box-4 .item-filter-box, .more-filter-container .options-filter-box .box-5 .item-filter-box {
        width: 49%;
    }

    .more-filter-container .options-filter-box .box-1 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-2 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-3 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-4 .item-filter-box .title-filter, .more-filter-container .options-filter-box .box-5 .item-filter-box .title-filter {
        margin-right: 10px;
    }
}

@media (max-width: 680px) {
    .admin-filter-container .box-filter .more-filter {
        padding: 0 12px;
        font: 10px Liransans;
        height: 27px;
    }

    .admin-filter-container .box-filter {
        font: 10px Miransans;
    }

    .admin-filter-container .bar-filter span:first-child {
        font: 11px Miransans;
    }
    .admin-filter-container .bar-filter {
        overflow: hidden;
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        padding: 10px 8px;
    }
    .admin-filter-container .bar-filter-item {
        font: 11px Liransans;
        margin: 4px 1px;
        border: none;
    }

    .more-filter-container .options-filter-box .box-2 .item-filter-box, .more-filter-container .options-filter-box .box-4 .item-filter-box, .more-filter-container .options-filter-box .box-5 .item-filter-box {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .more-filter-container {
        padding-bottom: 50px;
        padding-top: 26px;
    }

    .more-filter-container .options-filter-box .box-1 .item-filter-box, .more-filter-container .options-filter-box .box-3 .item-filter-box {
        width: 100%;
    }

    .more-filter-container .options-filter-box .box-5 .container__travel-time-interval {
        margin-top: 8px;
    }

    .more-filter-container .options-filter-box .box-5 .item-filter-box .input-stlye {
        width: 80px;
        margin: 0 5px !important;
    }

    .more-filter-container .options-filter-box .box-5 .item-filter-box .input-stlye {
        margin-right: 0;
    }
}

@media (max-width: 400px) {
    .more-filter-container .options-filter-box .box-1 .item-filter-box, .more-filter-container .options-filter-box .box-2 .item-filter-box, .more-filter-container .options-filter-box .box-3 .item-filter-box, .more-filter-container .options-filter-box .box-4 .item-filter-box, .more-filter-container .options-filter-box .box-5 .item-filter-box, .more-filter-container .options-filter-box .box-1 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-2 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-3 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-4 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-5 .item-filter-box select.input-stlye {
        font-size: 11px;
    }

    .more-filter-container .options-filter-box .box-1 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-2 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-3 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-4 .item-filter-box select.input-stlye, .more-filter-container .options-filter-box .box-5 .item-filter-box select.input-stlye {
        width: 176px;
    }

    .more-filter-container .options-filter-box .box-5 .item-filter-box .title-filter {
        width: 80px;
    }
}