@font-face {
  font-family: bnassim;
  src: url('/resource/fonts/nassim-bold.eot?#') format('eot'),  
       url('/resource/fonts/nassim-bold.woff') format('woff'),  
       url('/resource/fonts/nassim-bold.ttf') format('truetype'); 
}
@font-face {
  font-family: rnassim;
  src: url('/resource/fonts/nassim-regular.eot?#') format('eot'),  
       url('/resource/fonts/nassim-regular.woff') format('woff'),  
       url('/resource/fonts/nassim-regular.ttf') format('truetype'); 
}

@font-face {
    font-family: "Biransans";
    src: url("/resource/fonts/IRANSans-Bold-web.eot") format("eot"), url("/resource/fonts/IRANSans-Bold-web.woff") format("woff"), url("/resource/fonts/IRANSans-Bold-web.ttf") format("truetype");
}

@font-face {
    font-family: "Liransans";
    src: url("/resource/fonts/IRANSans-Light-web.eot") format("eot"), url("/resource/fonts/IRANSans-Light-web.woff") format("woff"), url("/resource/fonts/IRANSans-Light-web.ttf") format("truetype");
}

@font-face {
    font-family: "Miransans";
    src: url("/resource/fonts/IRANSans-Medium-web.eot") format("eot"), url("/resource/fonts/IRANSans-Medium-web.woff") format("woff"), url("/resource/fonts/IRANSans-Medium-web.ttf") format("truetype");
}

@font-face {
    font-family: "ULiransans";
    src: url("/resource/fonts/IRANSans-UltraLight-web.eot") format("eot"), url("/resource/fonts/IRANSans-UltraLight-web.woff") format("woff"), url("/resource/fonts/IRANSans-UltraLight-web.ttf") format("truetype");
}

* {
    border:none ;
    padding:0px;
    margin:0px ;
}
.page {
    width:100% ;
    box-sizing:border-box ;
    padding:0 20px;
    margin:0 auto ;
    min-height:600px;
    font-family:rnassim ;
}

body {
    /*font: 13px Liransans;*/
}

.body {
    direction:rtl;
    /*font: 13px Liransans;*/
}
.top {
    height:50px;
    background-color:#323232 ;
    font:22px bnassim ;
    text-align:right ;
    padding-right:20px;
    color:#fff ;
    padding-top:15px;
    position:relative ;
}
.datasadra {
    background:url('img/data.png') no-repeat center center ;
    width:123px;
    height:30px;
    display:block ;
    float:right ;
    margin-left:25px;
}
.logoff {
    position:absolute ;
    left:15px;
    font:16px bnassim; 
    color:#fff ;
    top:18px;
    text-decoration:none ;
}
.top .menuitem {
    font:16px bnassim ;
    color:#fff ;
    margin-right:5px;
    float:right ;
    text-decoration:none ;
}
.zonr {
    width:170px;
    float:right ;
    min-height:600px;
    background-color:#f2f2f2 ;
}
.zonl {
    width: calc(100% - 180px);
    float:right ;
    box-sizing:border-box ;
    min-height:600px;
    padding:20px; 
}
.zonr .item {
    font:16px bnassim ;
    color:#999 ;
    padding:15px 50px 15px 0px ;
    border-bottom:1px solid #bbb ;
    text-decoration:none ;
    display:block ;
    background-repeat: no-repeat ;
    background-position: center right 7px ; 
    background-size:40px 40px; 
}

.zonr .item:hover {
    color:#000 ;
    background-color:#fff ;
}

table {
    width:100% ;
}
th {
    font:15px bnassim ;
    text-align:center ;
    vertical-align:middle ;
    background-color:#ccc ;
    padding:5px;
}

td {
    text-align:center ;
    vertical-align:middle ;
    padding:5px;
}

.adminTable td, .adminTable th {
    border-bottom: 1px solid #242424; 
}

.adminTable td{
    padding: 10px 5px;
    border-left: 1px solid #ccc;
}

.adminTable th{
    border-left: 1px solid white;
}

.adminTable {
    border-spacing: 0 0;
}

.adminTable tr:nth-child(even){background-color: #f2f2f2;}


.imgstatus
{
    width:20px;
    height:20px;
    overflow:hidden;
    display:inline-block;
    cursor:pointer ;
}
.imgstatus.enable
{
    background:url(/resource/img/enable20.png) no-repeat ;
}
.imgstatus.disable
{
    background:url(/resource/img/disable20.png) no-repeat ;
}
.editicon {
    width:20px;
    height:20px;
    background:url(/resource/img/edit20.png) no-repeat ;
    cursor:pointer ;
    display:inline-block ;
}
.showicon {
    width:20px;
    height:20px;
    background:url(/resource/img/show.png) no-repeat ;
    cursor:pointer ;
    display:inline-block ;
}
.advericon {
    width:20px;
    height:20px;
    background:url(/resource/img/advertise.png) no-repeat  ;
    background-size:20px 20px;
    background-position:center ;
    cursor:pointer ;
    display:inline-block ;
}
.itemicon {
    width:20px;
    height:20px;
    background:url(/resource/img/items.png) no-repeat ;
    background-size:20px auto ;
    cursor:pointer ;
    display:inline-block ;
}
.printicon {
    width:20px;
    height:20px;
    background:url(/resource/img/print20.png) no-repeat ;
    cursor:pointer ;
    display:inline-block ;
}
.deleteicon {
    width:20px;
    height:20px;
    background:url(/resource/img/delete20.png) no-repeat ;
    cursor:pointer ;
    display:inline-block ;
}
.refreshicon {
    width:20px;
    height:20px;
    background:url(/resource/img/refresh.png) no-repeat ;
    cursor:pointer ;
    display:inline-block ;    
    background-size:20px;
}
.phonecallicon {
    width:20px;
    height:20px;
    background:url(/resource/img/PhoneCall.png) no-repeat ;
    cursor:pointer ;
    display:inline-block ;    
    background-size:20px;
}
.publishicon {
    width:20px;
    height:20px;
    background:url(/resource/img/publish20.png) no-repeat ;
    cursor:pointer ;
    display:inline-block ;
}
.suspendicon {
    width:20px;
    height:20px;
    background:url(/resource/img/suspend20.png) no-repeat ;
    cursor:pointer ;
    display:inline-block ;
}

.title {
    color: #999;
    display: inline-block;
    font: 25px bnassim;
    margin: 7px 0;
    padding: 0 10px;
    text-align: right;
    text-shadow: 1px 1px 2px #ddd ;
}

.title:hover {
    color:#666 ;
}
.add {
    background: url("/resource/img/add.png") no-repeat scroll right 5px top -117px rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 27px;
    color: #999;
    direction: rtl;
    display: block;
    font: 21px bnassim;
    margin-bottom: 8px;
    padding: 7px 40px 7px 7px;
    text-align: right;
    text-decoration: none;
    text-shadow: 1px 2px 1px #d6d6d6;
    width: 120px;
    box-shadow:0px 1px 2px 2px #ddd ;
}
.add:hover {
    color:#333 ;
    background-position: right 5px top 2px !important; 
}
.refresh {
    background:url("/resource/img/refresh.png") no-repeat center;
    background-size:70px 70px;
    display:block ;
    margin:10px;
    width:70px;
    height:70px;
}

input[type="text"], input[type="password"], input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 7px;
    font: 15px rnassim;
    height: 25px;
    padding: 5px;
    width: 270px;
    /*background:none;*/
}
textarea {
    border: 1px solid #ccc;
    border-radius: 7px;
    font: 15px rnassim;
    background:none;
    min-height: 50px;
    padding: 5px;
    width: 270px;    
}
 select {
    padding-right: 10px;
    width: 280px;
    border: 1px solid #ccc;
    background:none ;
    border-radius: 7px;
    font: 15px rnassim;
    height: 37px;
    width: 280px;
    direction:rtl ;
    text-align:right ;
}
 option {
    padding-right: 15px;
    font: 14px rnassim;
    text-align:right ;
}
optgroup {
    padding-right: 2px;
    font: 16px bnassim;
    text-align:right ;
}
 .label {
    text-align:right ;
    color: #666;
    font: 15px bnassim;
    text-align: right;
    vertical-align:middle ;
    width:150px;
    white-space:nowrap ;
}
.filter {
    border: 1px solid #ccc;
    border-radius: 13px;
    color: #222;
    font: 17px bnassim;
    padding:5px; 
    width:70px;
    text-align: center;
    cursor:pointer ;    
    display:block ;
}
.filter:hover {
    background-color:#ddd ;
}
.tablesplit {
    height:10px;
}
.apply {
    background: url("/resource/img/apply24.png") no-repeat scroll right 5px center #efefef;
    border: 1px solid #ccc;
    border-radius: 13px;
    color: #222;
    font: 17px bnassim;
    padding: 5px 40px 5px 10px;
    text-align: right;
    text-decoration: none;
    cursor:pointer ;
}
.apply:hover {
    background-color:#ddd;
}
.cancel {
    background: url("/resource/img/cancel24.png") no-repeat scroll right 5px center #efefef;
    border: 1px solid #ccc;
    border-radius: 13px;
    color: #222;
    font: 17px bnassim;
    padding: 5px 40px 5px 10px;
    text-align: right;
    text-decoration: none;
    cursor:pointer ;
}
.cancel:hover {
    background-color:#ddd ;
}
.imgfile {
    background:url(/resource/img/imgfile64.png) no-repeat center center ;
    width:64px;
    height:64px;
    display:block ;
}
.mypagelist {
    margin-top:20px;
    text-align:center ;
}
.mypagelist ul {
    text-align:center ;
    direction:rtl ;
}
.mypagelist li {
    list-style:none ;
    margin-right:5px;
    display:inline-block ;
}
.mypagelist li a {
    text-decoration:none ;
    font:16px bnassim ;
    width:22px;
    height:22px;
    border-radius:4px;
    background-color:#eee ;
    border:1px solid #ccc  ;
    display:block ;
    cursor:pointer ;
    color:#444 ;
}
.mypagelist li a:hover {
    background-color:#fff ;
    color:#000 ;
}
.mypagelist li.active a {
    background-color: #e5e5e5 !important;
    color: #5bb1d8 !important;
}
.mypagelist .PagedList-skipToNext a {
    color:#555 ;
    width:30px;
    border:none ;
    background:none ;
}
.mypagelist .PagedList-skipToPrevious a {
    color:#555 ;
    width:30px;
    border:none ;
    background:none ;
}
.mypagelist .PagedList-skipToFirst a {
    color:#555 ;
    width:30px;
    border:none ;
    background:none ;
}
.mypagelist .PagedList-skipToLast a {
    color:#555 ;
    width:30px;
    border:none ;
    background:none ;
}
.adminmsg {
    font:18px bnassim;
    margin:20px; 
    color:#ff0000 ; 
    text-align:right;
}
.popup {
    background-color: rgba(44, 44, 44, 0.95) ;
    border: 1px solid #ccc;
    border-radius: 25px;
    display: none;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 25px 25px;
    position: fixed;
    top: 25px;
    width: 700px;
}
.popup .popitem {
    border: 1px solid #ccc; 
    display: inline-block; 
    padding: 5px;
    border-radius:5px;
    margin-right:5px;
    margin-bottom:5px;
}
.popup .popupclose {
    width:20px;
    height:20px;
    background:url(/resource/img/close16_2.png) no-repeat center center ;
    border-radius:3px;
    float:right ;
    margin-right:10px;
    cursor:pointer;
    margin-bottom:10px;
}
.addpop {
    width:24px;
    height:24px;
    background:url(/resource/img/add24.png) no-repeat center center ;
    display:inline-block ;
    cursor:pointer ;
}
.postimg {
    text-align:right ;
}


.adminmain {
}

.adminmain .adminitem {
    background-color: #ddd;
    border-radius:10px ;
    float: right;
    height: 150px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 300px;
}
.adminmain .adminitem:hover {
    background-color: #bcbcbc;
}

.adminmain .adminitem td  {
    padding:0 ;
    margin:0 ;
}

.adminmain .adminitem .adminicon {
    background-color: #4d4d4d;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 64px auto;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 150px;
    width: 80px;
    font-size: 50px;
    line-height: 140px;
    color:#fff ;
}
.adminmain .adminitem .admintitle {
    color: #a62626;
    font: 17px Biransans;
    text-align: right;
    display:block ;
    text-decoration:none ;
    cursor:pointer ;
}
.adminmain .adminitem .adminabstract {
    color: #333;
    font: 11px Liransans;
    margin-top: 10px;
    text-align: right;
}

.adminback {
    background-color:#fff ;
    background-image: url("/resource/img/back.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    float: right;
    height: 32px;
    margin: 10px;
    width: 32px;
    cursor:pointer ;
    display:block ;
}

.adminback:hover {
    background-color:#ddd ;
    border-bottom-right-radius: 10px;
}

#tmpoption {
    background-image:url('/resource/img/add24.png') ;
    background-position:left 10px center;
    background-size:16px auto ;
    background-repeat:no-repeat ;
}

.adminicon {
    width:20px;
    height:25px;
    font-size:20px;
    cursor:pointer ;
    display:inline-block ;
    color:#333 ;
    text-decoration:none ;
}

textarea{
    margin: 0px;
    height: 107px;
    width: 472px;
}

.loading-contianer{
    display:none;
    background-color:#242424;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.3;
    z-index: 1000000000;
    top: 0;
    bottom: 0;
}

.loading-icon{
    position:fixed;
    display:flex;
    flex-flow: column-reverse;
    z-index: 1000000001;
}


/************dropzone****************/

.dropzone {
    width: 100%;
    min-height: 150px;
    display: flex;
    direction: ltr;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #fff;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-bottom: 15px;
    padding-left: 15px;
}
.dropzone .dz-default {
    width:135px;
    height:120px;
    background-color:#ddd ;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center ;
        -ms-flex-align:center ;
            align-items:center ;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column ;
            flex-direction:column ;
    cursor:pointer;
    margin:15px 15px 0 0 ;
    border-radius:3px;
}
.dropzone .dz-default i.fa{
    font-size:28px;
    color:#777 ;
}
.dropzone .dz-default span{
    font:14px Miransans;
    color:#444 ;
    margin-top:15px;
}


.dz-preview {
    width:135px;
    height:120px;
    margin:15px 15px 0 0 ;
    overflow:hidden ;
    position:relative;
}
.dz-preview.edit-content {
    width:250px;
    height:200px;
}
.dz-preview img{
    width:135px;
    height:120px;
    border-radius:5px;
}
.dz-preview img.edit-content{
    width:250px;
    height:200px;
}
.dz-preview .dz-remove{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 3px;
    cursor: pointer;
    width:26px;
    height:40px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    font:10px Liransans;
    color:#fff ;
}

.dz-preview .dz-remove i.fa{
    font-size: 16px;
    color: #fff;
}

.dz-preview .dz-edit {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    font: 10px Liransans;
    width: 32px;
    justify-content: center;
    color: #fff;
    align-items: center;
    padding: 4px 10px;
    text-decoration: none;
}

.dz-preview .dz-upload {
    display:none;
}

.dz-preview .dz-progress{    
    bottom:0;
    width:100% ;
    position:absolute ;
    height:26px;
    text-align:center;
    font:13px Miransans;
    padding:4px 0 ;
    line-height:24px;
}

.dz-preview .empty-progress {
    background-color:#cdcdcd ;
    z-index:1 ;
}

.dz-preview .progress-text{
    background-color:#4CAF50 ;
    z-index:2 ;
    color:#fff ;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center ;
        -ms-flex-align:center ;
            align-items:center ;
}

.dz-preview .dz-finish {
    font-size:18px;
    display:none;
}

.dz-preview.dz-preview-active {
    border:2px solid #55d34c ;
}

.dz-preview .dz-main-photo {
    font:11px Liransans; 
    color:#fff ;
    display:none ;
    margin-right:7px;
}


/*.dz-preview .progress-text {
    top:42px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font: 13px Miransans;
    position: absolute;
    right: 45px;
    color: #fff;
    display: flex;
    background: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}*/

.edit-advertise-container {
    width: 80%;
    margin: 20px auto;
}
.edit-advertise__title {
    font:14px Miransans ;
    text-align:right ;
    color:#242424 ;
    padding:10px;
}
.edit-advertise__detail {
    font:13px Miransans ;
    text-align:right ;
    color:#fff ;
    padding:10px;
}

/************end dropzone****************/

    /*****advertise*****/
/*****advertise*****/

.add-static-title {
    width:100% ;
    text-align:center ;
    font:18px Biransans;
    color:#242424 ;
    padding-top:20px;
}

.add-advertise-static-container form {
    width:100% ;
    height:100% ;
    display:block; 
}
/*.static-container {
    background-color:#eaeaea ;
    width:80%;
    margin:20px auto ;
    padding:0px 15px;
}*/

.static-advertise {    
    font-family:Liransans ;
    display:flex ;
    align-items:center ;
    justify-content:flex-start;
    flex-wrap:wrap ;    
}

.static-advertise__group {
    display:flex ;
    align-items:center ;
    justify-content:center ;
    flex-wrap:nowrap ;
    margin-top:30px;
    margin-bottom:10px;
    width: 100%;
}

.static-advertise__group:hover i.fa {
    -webkit-transform: rotate(360deg); /* Safari */
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);    
    color:#000 ;
}
.advertise__watermark {
    font:13px Miransans ;
    background-color: #fDc831;
    color:#242424 ;
    display:inline-block ;
    text-align: center;
    border-radius: 3px;
    padding:5px 15px;
    text-decoration:none ;
    margin-right:10px;
    cursor:pointer ;
}

.static-advertise__group span{
    width:100% ;
    font:15px Biransans; 
    text-align:right ;
    color:#242424 ;
    margin-right:10px;
}

.static-advertise__group i.fa, i.fas{
    font-size:25px;
    color:#999 ;
    -webkit-transition:all ease-in 0.3s;
    -o-transition:all ease-in 0.3s;
    transition:all ease-in 0.3s;
}
.static-advertise__group-split {
    height:1px ;
    background-color:#ccc ;
    width:85% ;
    margin:0 auto ;
    margin-top:30px;
}

.static-advertise__item {
    width:30% ;
    margin-top:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-left:20px;
    margin-right:3%;
}

.static-advertise__item.hide-aditem {
    display:none ;
}

.static-advertise__item.full-col {
    width:96%;
}

.static-advertise__item.half-col {
    width:45% ;
}

.static-advertise__item.half-col {
    width:45% ;
}

.static-advertise__label {
    font:11px Miransans;
    width:100%;
    color:#555 ;
    padding-bottom:3px;
}
.static-advertise__label.check {
    display:flex ;
    align-items:center ;
    justify-content:flex-start;
    border:1px solid #ccc ;
    padding:5px;
    background-color:#fff ;
}
.static-advertise__label.check label{
    margin-right:8px;
    cursor:pointer;
}

.static-advertise__extra-footer {
    font:10px Liransans;
    width:100%;
    color:#666 ;
    margin-top:3px;
}

.static-advertise__property {
    font-family:Liransans ;
    width:100%;
}
.static-advertise__submit {
    display:inline-block ;
    padding:8px;
    font:13px Miransans ;
    text-align:center;
    margin:0 auto ;
    background-color:#fDc831 ;
    border:0px; 
    border-radius:3px;
    cursor:pointer;
}
.static-advertise__property > *{
    background-color:#fff ;  
    font:11px Liransans;
    padding:5px;
    margin:0 ;
    width:100% ;
    border-radius:3px;
    border:none ;
}
.static-advertise__property > .no-background {
    background-color: unset;
}
.static-advertise__property .search-choice {
    padding:0 0 0 20px !important;
}
.static-advertise__property .search-choice *{
    background-color:#eee ;  
    font:11px Liransans !important;
    width:auto ;
    padding:0 !important;
}

.static-advertise__property *.mandatory{
    border:1px solid red ;
}
.strtoman {
    color:#198c0f ;
    font:11px Miransans;
}
.static-advertise__item.half-col .static-advertise__property span,
.static-advertise__item.half-col .static-advertise__property select,
.static-advertise__item.half-col .static-advertise__property option,
.static-advertise__item.half-col .static-advertise__property div
{
    font:12px Miransans;
    padding:7px;
}

.static-advertise__item.full-col .static-advertise__property *{
    font:12px Miransans;
    padding:8px;
}

.static-advertise__property textarea{
    min-height:70px;
}

    /******end advertise*******/

    /*****advertise form*****/
.advertise-form__hotel-unit-container {
    display: flex;
    flex-flow: wrap;
}
.advertise-form__unit-count-container {
    display: flex;
    flex-flow: row;
}
.advertise-form__unit-count-container input {
    width: 50px
}
.advertise-form__unit-count-container i {
    cursor: pointer;
    margin: 5px;
}
.form-step-button-container {
    display: flex;
    cursor: pointer;
    flex-flow: wrap;
    padding: 3px;
    width: 98%;
    margin: 0 1%;
    justify-content: center;
    border-bottom: solid thin lightgray;
}
.form-step-button {
    background-color:#fDc831;
    color: #242424;
    text-align: center;
    margin:3px;
    width: unset;
    font: 11px Miransans;
    padding:5px;
}
.form-step-button-selected{
    background-color:#242424;
    color: white;
}
.form-step {
    padding: 10px 3px;
}
.disabled-button {
    background-color: grey;
}
.hidden-button {
    display: none;
}
.advertise-form__hotel-add-remove-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin:5px;
}
.advertise-form__hotel-add-remove-container div {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items:baseline;
    cursor: pointer;
    background-color:#DFDFDF;
    border: solid thin lightgrey;
    border-radius: 5px;
    padding: 5px;
}
.advertise-form__hotel-add-remove-container div span {
    font: 13px Miransans;
    margin:0 3px;
}
.advertise-form__hotel-add-remove-container div i {
    margin:0 3px;
}
.advertise-form__hotel-add-remove-container div .fa-plus {
    color:#216032;
}
.advertise-form__hotel-add-remove-container div .fa-minus {
    color:#8e2e27;
}
.input-plus-button {
    color: #216032;
}
.input-minus-button {
    color: #8e2e27;
}
.advetise-form__part {
    background-color: #eaeced;
    padding: 0px 5px 10px 0;
    margin: 1px 1%;
    border: solid 1px #c4c6c6;
    width: 98%;
}
.advertise-form__container {
    width: 99%;
    margin: auto;
}
/*****end advertise form*****/

/************new******************/

.admin {
    display:flex;
    flex-wrap:wrap ;
    justify-content:space-around ;
    align-items:center ;
}

.admin__item {
    display:flex;
    justify-content:space-around ;
    align-items:center ;
    padding:40px 10px;
    width:250px;    
    background-color:#ccc ;
    border-radius:3px;
    cursor:pointer ;
    text-decoration:none ;
}

.admin__item:hover{
    background-color:#aaa ;
}

.admin__item i{
    font-size:25px;
    color:#000 ;
}

.admin__title {
    font:16px Biransans ;
    color:#555 ;
}

.admin__item:hover .admin__title{
    color:#333;
}


.dynamic-filter {
    background-color:#eaeaea ;
    padding:0 15px;
    font-family:Liransans ;
    display:flex ;
    align-items:center ;
    justify-content:flex-start ;
    flex-wrap:wrap ;
    padding-bottom:15px;
}

.dynamic-filter.extra {
    padding:0px;
    max-height:0px;
    overflow:hidden ;
    transition: max-height 0.5s ease-in-out 0.2s;
    transition: padding 0.2s ease-in-out ;
    transition: padding-bottom 0.2s ease-in-out ;
}
.dynamic-filter.extra-show {
    padding:0 15px;
    padding-bottom:15px;
    max-height:400px;
}
.dynamic-filter.extra-hide {
    padding:0px !important;
    max-height:0 ;
}

.dynamic-filter__item {
    width:25% ;
    margin-top:15px;
}

.dynamic-filter__item.trade-item {
    display:none;
}

.dynamic-filter__item.extra-show {
    display:block ;
}

.dynamic-filter__label {
    font:12px Miransans;
    width:100%;
    color:#242424 ;
}
.dynamic-filter__property {
    font-family:Liransans ;
    width:100%;
}

.dynamic-filter__property *{
    background-color:#fff ;  
    font:11px Liransans;
    padding:0;
    margin:0 ;
    width:85%;
}
.dynamic-filter__button {
    width:80px;
}
.dynamic-filter__button.mobile{
    display:none;
}
.dynamic-filter__button input {
    background-color:#FDD835 ;
    padding:7px 15px;
    display:inline-block;
    font:14px Miransans; 
    color:#242424 ;
    text-align:center ;
    border:none ;
    border-radius:4px;
    margin-top:35px;
    cursor:pointer;
}
.dynamic-filter__extra {
    width:65px;
    border:1px solid #bbb ;   
    margin-top:35px;
    padding:7px 3px;
    margin-left:3px;
    border-radius:4px;
    font-size:13px;
}
.dynamic-filter__extra .fa{
    font-size:18px;
    font-weight:bold ;
}

.fa-icon {
    width:20px;
    height:20px;
    font-size:25px;
    color:#555 ;
    display:inline-block;
    margin:0 7px;
}

.quickadd {
    background:#242424;
    color:#fff;
    box-sizing:border-box;
}

.quickadd form{
    width:100% ;
    box-sizing:border-box;
}

.quickadd__container{
    background:#242424;
    color:#fff;
    display:flex;
    justify-content:flex-start ;
    align-items:center ;
    direction:rtl;
    flex-wrap:wrap ;
    padding: 5px 10px;
    box-sizing:border-box;
}

.quickadd__item{
    width:200px;
    color:#fff ;
    box-sizing:border-box;
}
.quickadd__item.mini{
    width:50px;
}
.quickadd__item.label{
    width:80px;
    margin-right:10px;
    text-align:left ;
    padding-left:5px;
}

.quickadd__item *{
    color:#fff !important;
    background-color:#242424 !important;
    width:100% !important;
    box-sizing:border-box;
    font:12px Liransans !important ;
    height:30px !important;
}
.quickadd__submit {
    font: 13px Biransans;
    padding: 5px 15px;
    background: #fff;
    color: #000;
    margin-right: 20px;
    border-radius: 4px;
    text-align: center;
}
.hidden{
    display: none;
}

/*****support chat index*****/
.support-chat-index__root {
    display:flex;
    height:400px;
    border:1px solid darkgray;
}

.support-chat-index__support {
    width:35%;
    background-color:#d8d8d8;
    overflow: auto;
    border-left: 1px solid darkgray;
}

.support-chat-index__chat-container {
    display:flex;
    flex-flow:column;
    width:65%;
    background-color:#F2F2F2;
}

.support-chat-index__input-helper {
    display:flex;
    flex-flow:row;
    width:65%;
    margin-right:35%;
    background-color:#F2F2F2;
}

.support-chat-index__acc-id-helper {
    display:flex;
    align-items:center;
}

.support-chat-index__acc-id-helper input {
    width:100px;
}

.support-chat-index__acc-id-button {
    background-color:#fdd835;
    margin: 0 5px;
    border-radius:5px;
    width:30px;
    height:30px;
    text-align:center;
    font-size: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.support-chat-index__support-item {
    display:flex;
    height: 85px;
    border-bottom: 1px solid darkgray;
    background-color:white;
    cursor:pointer;
}

.support-chat-index__support-item.selected {
    background-color:#F2F2F2;
}

.support-chat-index__profile {
    display:flex;
    flex-flow:column;
    padding-top:3px;
    align-items:center;
    width:30%;
}

.support-chat-index__new-count {
    width:10%;
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.support-chat-index__reserve {
    width:30%;
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.support-chat-index__profile i {
    font-size: 34px;
}

.support-chat-index__profile a,
.support-chat-index__profile div {
    width:100%;
    display:flex;
    justify-content:center;
}

.support-chat-index__profile span {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.support-chat-index__new-count-label {
    width:30px;
    height:30px;
    background-color:#EA4335;
    color:white;
    border-radius:60px;
    text-align:center;
    display:flex;
    flex-flow:column;
    justify-content:center;
}

.support-chat-index__chat-box{
    height:360px;
    display:flex;
    overflow:auto;
    flex-flow:column-reverse;
}

.support-chat-index__chat-input {
    height: 50px;
    border-top:1px solid darkgray;
    background-color:white;
    display:flex;
    align-items:center;
    padding:5px;
}
.support-chat-index__chat-input textarea {
    width:96%;
    border:none;
    height:40px;
}
.support-chat-index__chat-input i {
    font-size:25px;
    color:#fdd835;
    width:4%;
    cursor:pointer;
}

.support-chat-index__chat {
    display:flex;
    padding:10px;
}

.support-chat-index__chat-right {
}

.support-chat-index__chat-left {
    flex-flow:row-reverse;
}

.support-chat-index__chat-profile {
    display:flex;
    flex-flow:column;
    align-items:center;
    width:100px;
}

.support-chat-index__chat-left .support-chat-index__chat-profile {
    margin-right: 10px;
}

.support-chat-index__chat-right .support-chat-index__chat-profile {
    margin-left: 10px;
}

.support-chat-index__chat-profile img {
    border-radius:60px;
}

.support-chat-index__chat-profile span {
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    text-align:center;
}

.support-chat-index__chat-text-box {
    background-color:white;
    border-radius: 10px;
    padding:5px;
    display:flex;
    flex-flow:column;
    justify-content:space-between;
    width: 75%;
}

.support-chat-index__chat-text a {
    max-width:100%;
    overflow:auto;
}

.support-chat-index__chat-right .support-chat-index__chat-text-box {
    background-color:#fdd835;
}

.support-chat-index__chat-date {
    margin-top:10px;
    display:flex;
}
/*****end support chat index*****/